<div class="body-bg alldevice-component">
  <mat-card>
    <mat-card-header
      class="d-flex mb-3 justify-content-between mat-crd-hide align-items-center"
    >
      <div>
        <mat-card-title>
          <h2 class="pb-0 mb-0 fw-bold text-capitalize ps-2">All Devices</h2>
        </mat-card-title>
      </div>
      <div class="d-flex justify-content-end gap-2">
        <button
          *ngIf="showResetMapFilter"
          class="btn btn-outline-secondary"
          (click)="resetMapFilter()"
        >
          Clear map filter
        </button>
        <button class="btn btn-primary" (click)="toggleFilterDevices()">
          {{ hideFilterDevices ? 'Show Device Filter' : 'Hide Device Filter' }}
        </button>
        <button
          class="btn btn-dark justify-content-end px-4 d-flex align-items-center"
          routerLink="/device/add"
        >
          <mat-icon class="align-middle me-2" test-id="new-devices"
            >add_circle</mat-icon
          >New Devices
        </button>
      </div>
    </mat-card-header>
    <hr class="mt-0 pt-0" />

    <mat-card-content
      class="mat-body-cont"
      *ngIf="!showregistrant_devices"
    >
      <div *ngIf="!hideFilterDevices">
        <h3
          style="text-align: center; color: #475569; font-size: 16px"
          class="text-capitalize"
        >
          Use Filters For Device Search
        </h3>
        <form [formGroup]="FilterForm">
          <div class="example-container1 row">
            <div class="col-md-2">
              <mat-form-field appearance="outline">
                <mat-label class="text-capitalize"
                  >Select Organization</mat-label
                >
                <input
                  type="text"
                  aria-label="text"
                  matInput
                  formControlName="organizationname"
                  [matAutocomplete]="auto1"
                  (ngModelChange)="checkFormValidity()"
                />
                <mat-autocomplete
                  #auto1="matAutocomplete"
                  (optionSelected)="selectorg($event)"
                >
                  <mat-option [value]="">---</mat-option>
                  <mat-option
                    *ngFor="let code of filteredOptions1 | async"
                    [value]="code.name"
                  >
                    {{ code.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-error *ngIf="showorgerror" style="margin-top: -15px">
                Invalid Organization Selected
              </mat-error>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline">
                <mat-label class="text-capitalize">Select Country </mat-label>
                <input
                  type="text"
                  aria-label="text"
                  matInput
                  formControlName="countryname"
                  [matAutocomplete]="auto"
                  (ngModelChange)="checkFormValidity()"
                />
                <mat-autocomplete
                  #auto="matAutocomplete"
                  (optionSelected)="selectCountry($event)"
                >
                  <mat-option [value]="">---</mat-option>
                  <mat-option
                    *ngFor="let code of filteredOptions | async"
                    [value]="code.country"
                  >
                    {{ code.country }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-error *ngIf="showerror" style="margin-top: -15px">
                Invalid Country Selected
              </mat-error>
            </div>
            <!-- <div class="col-md-3">
              <mat-form-field>
                <mat-label class="text-capitalize">Fuel Code</mat-label>

                <mat-select formControlName='fuelCode' (ngModelChange)="checkFormValidity()">
                  <mat-option [value]="">---</mat-option>
                  <mat-option *ngFor="let code of fuellist" [value]="code.code">
                    {{code.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->
            <div class="col-md-2">
              <mat-form-field appearance="outline">
                <mat-label class="text-capitalize">Device Type Code</mat-label>

                <mat-select
                  formControlName="deviceTypeCode"
                  (ngModelChange)="checkFormValidity()"
                  multiple
                >
                  <mat-option [value]="">---</mat-option>
                  <mat-option
                    *ngFor="let code of devicetypelist"
                    [value]="code.code"
                  >
                    {{ code.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-2">
              <mat-form-field appearance="outline">
                <mat-label class="text-capitalize">Off Taker</mat-label>

                <mat-select
                  formControlName="offTaker"
                  (ngModelChange)="checkFormValidity()"
                  multiple
                >
                  <mat-option [value]="">---</mat-option>
                  <mat-option *ngFor="let code of offtaker" [value]="code">
                    {{ code }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline">
                <mat-label>Capacity(kW)</mat-label>
                <input
                  matInput
                  type="number"
                  [min]="1"
                  (ngModelChange)="checkFormValidity()"
                  formControlName="capacity"
                  #input
                />
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline">
                <mat-label class="text-capitalize">SDG Benefits</mat-label>

                <mat-select
                  formControlName="SDGBenefits"
                  (ngModelChange)="checkFormValidity()"
                  multiple
                >
                  <mat-option [value]="">---</mat-option>
                  <mat-option
                    *ngFor="let sdgb of sdgblist"
                    [value]="sdgb.value"
                    >{{ sdgb.value }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-2 h6-margin-remove">
              <h6>Commissioning Date:</h6>
              <mat-form-field appearance="outline">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="$any(picker)">
                  <input
                    matStartDate
                    formControlName="start_date"
                    (ngModelChange)="checkFormValidity()"
                  />
                  <input
                    matEndDate
                    formControlName="end_date"
                    (ngModelChange)="checkFormValidity()"
                  />
                </mat-date-range-input>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="$any(picker)"
                ></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
            <div class="col-md-12 mb-3 d-flex justify-content-end">
              <div class="">
                <button
                  class="btn-primary me-2 btn text-capitalize px-4"
                  (click)="DisplayListFilter()"
                  [disabled]="!isAnyFieldFilled"
                >
                  Filter
                </button>
              </div>
              <div class="">
                <button
                  class="btn-dark btn text-capitalize px-4"
                  [disabled]="!isAnyFieldFilled"
                  (click)="reset()"
                >
                  Reset
                </button>
              </div>
            </div>
          </div>
        </form>
        <hr />
      </div>
      <app-map
        #mapComponent
        (markerClicked)="onMarkerClick($event)"
      ></app-map>
      <hr />
      <div style="display:flex;align-items:center;gap:12px">
        <mat-form-field appearance="outline" style="width: 25%; text-align: left">
          <mat-label>Search</mat-label>
          <input
            matInput
            [(ngModel)]="searchText"
            (keyup)="applyFilter($event)"
            placeholder="Search devices..."
          />
          <button *ngIf="searchText" matSuffix mat-icon-button (click)="clearSearch()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-icon *ngIf="!searchText" matSuffix>search</mat-icon>
        </mat-form-field>
        <span *ngIf="dataSource" style="font-size:13px;color:#64748b">
          {{ dataSource.filteredData.length }} device{{ dataSource.filteredData.length === 1 ? '' : 's' }}
        </span>
      </div>
      <div class="content text-center" *ngIf="showlist">
        <table mat-table [dataSource]="dataSource" class="" matSort>
          <ng-container matColumnDef="organization" class="text-left">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Legal Entity Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.organizationname }}
            </td>
          </ng-container>
          <ng-container matColumnDef="siteName" class="text-left">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Site Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.siteName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="externalId" class="text-left">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Internal SiteId (ExternalId)
            </th>
            <td mat-cell *matCellDef="let element">{{ element.externalId }}</td>
          </ng-container>
          <ng-container matColumnDef="developerExternalId" class="text-left">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Serial Number(s)</th>
            <td mat-cell *matCellDef="let element">
              {{ element.serialNumber }}
            </td>
          </ng-container>
          <ng-container matColumnDef="countryCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-left">Country</th>
            <td mat-cell *matCellDef="let element">
              {{ element.countryname }}
            </td>
          </ng-container>
          <ng-container matColumnDef="fuelCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-left">
              Fuel Code
            </th>
            <td mat-cell *matCellDef="let element">{{ element.fuelCode }}</td>
          </ng-container>
          <ng-container matColumnDef="IREC_ID">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="text-left"
            >
              IREC ID
            </th>
            <td mat-cell *matCellDef="let element">{{ element.IREC_ID }}</td>
          </ng-container>

          <ng-container matColumnDef="reviewStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-left">
              Review Status
            </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.reviewStatus" class="review-badge review-badge--{{ element.reviewStatus }}">
                <span class="review-badge__icon">{{ element.reviewStatus === 'approved' ? '✓' : element.reviewStatus === 'rejected' ? '✗' : element.reviewStatus === 'draft' ? '✎' : element.reviewStatus === 'legacy' ? '◆' : '●' }}</span>
                {{ element.reviewStatus | titlecase }}
              </span>
              <span *ngIf="!element.reviewStatus">—</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="IREC_Status">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="text-left"
            >
              IREC Status
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.IREC_Status }}
            </td>
          </ng-container>
          <!-- Status Column -->
          <!-- <ng-container matColumnDef="commissioningDate">
            <th mat-header-cell *matHeaderCellDef class="text-left">Commissioning Date </th>
            <td mat-cell *matCellDef="let element"> {{element.commissioningDate| date:'dd MMM y'}} </td>
          </ng-container> -->
          <ng-container matColumnDef="capacity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-left">
              Capacity(kW)
            </th>
            <td mat-cell *matCellDef="let element">{{ element.capacity | number:'1.1-3' }}</td>
          </ng-container>
          <ng-container matColumnDef="SDGBenefits">
            <th mat-header-cell *matHeaderCellDef>SDGBenefits</th>
            <td mat-cell *matCellDef="let row">{{ row.SDGBenefits }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row; let i = index">
              <button
                mat-icon-button
                class="edit-icon action-icons"
                [matMenuTriggerFor]="actionsMenu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #actionsMenu="matMenu">
                <a
                  mat-menu-item
                  class="edit-icon action-icons"
                  (click)="alertDialog(row.id)"
                  >Device Info
                  <!-- <mat-icon class="primary">visibility</mat-icon> -->
                </a>
                <a
                  mat-menu-item
                  class="edit-icon action-icons"
                  (click)="DeviceregistationI_REC(row.id)"
                  *ngIf="row.IREC_Status === 'NotRegistered'"
                >
                  <!-- <mat-icon class="primary">add</mat-icon> -->
                  Add To I-REC
                </a>
                <a
                  mat-menu-item
                  class="edit-icon action-icons"
                  (click)="alertDialog(row.id)"
                  *ngIf="row.IREC_Status === 'DeviceNameCreated'"
                >
                  <!-- <mat-icon class="primary">add</mat-icon> -->
                  Add Detail To I-REC
                </a>

                <!-- Add more action buttons as needed -->
              </mat-menu>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"
            (mouseenter)="showSatPreview($event, row)"
            (mousemove)="moveSatPreview($event)"
            (mouseleave)="hideSatPreview()"
          ></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No Device found</td>
          </tr>
        </table>
      </div>
      <app-sat-preview
        *ngIf="satPreview"
        [lat]="satPreview.lat"
        [lng]="satPreview.lng"
        [label]="satPreview.label"
        [x]="satPreview.x"
        [y]="satPreview.y"
      ></app-sat-preview>
      <div *ngIf="!showlist" style="text-align: center; color: #475569">
        No Device
      </div>
    </mat-card-content>
    <mat-card-content
      class="mat-body-cont text-center"
      *ngIf="showregistrant_devices"
    >
      <p>Registrant devices</p>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>

<ng-template
  let-data
  #mypopupDialog
  class="Position-relative ng-template-add-reservation"
>
  <h2 mat-dialog-title class="mat-dialog-title">Device Group</h2>
  <div mat-dialog-content></div>
  <div mat-dialog-actions class="continue-button"></div>
</ng-template>
