<div class="lg">
  <div class="lg__card">
    <div class="lg__header">
      <img src="assets/images/d-rec-beta-logo.svg" alt="D-REC" class="lg__logo" />
      <h1 class="lg__title">Sign in</h1>
      <p class="lg__subtitle">Welcome back to the D-REC platform</p>
    </div>

    <form [formGroup]="loginForm" class="lg__form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="lg__field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="username" required test-id="login-username" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="lg__field">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required test-id="login-password" />
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Toggle password'" class="lg__eye">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <div *ngIf="loginError" class="lg__error">{{ loginError }}</div>

      <button type="submit" class="lg__submit" [disabled]="loggingIn" test-id="login-submit">
        <span *ngIf="!loggingIn">Sign in</span>
        <span *ngIf="loggingIn">Signing in… {{ loginElapsed | number:'1.1-1' }}s</span>
      </button>
    </form>

    <div class="lg__links">
      <a routerLink="/forgot-password" class="lg__link">Forgot password?</a>
    </div>

    <p class="lg__footer">
      Don't have an account? <a routerLink="/register" class="lg__link" test-id="register">Register</a>
    </p>
  </div>
</div>
