<div class="body-bg">
  <mat-card class="mb-3">
    <mat-card-header class="d-flex justify-content-between mat-crd-hide align-items-center">
      <div>
        <h2 class="pb-0 mb-0 fw-bold text-capitalize">Device Update Form</h2>
      </div>
      <!-- <div>
                <button class="btn btn-dark justify-content-end px-4" (click)="adddevice()">
                    <mat-icon class="align-middle">add_circle</mat-icon> Add More Device
                </button>
            </div> -->
    </mat-card-header>
    <form [formGroup]="updateDeviceForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <!-- <div *ngFor="let phone of deviceForms.controls; let i=index" [formGroupName]="i"> -->
        <mat-card>
          <!-- <mat-card-header>
                                <mat-card-title>
                                    <h2 class="pb-0 mb-0 fw-bold text-capitalize">Device &nbsp;{{1+i}}
                                        <button mat-raised-button color="warn" (click)='deletePhone(i)'><mat-icon>delete</mat-icon></button>
                                    </h2>
                                </mat-card-title>
                            </mat-card-header> -->

          <mat-card-content>
            <div class="example-container1 row">
              <div class="row">
                <h3>General</h3>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Site Name <span class="fn">(1)</span></mat-label>
                  <input matInput autocomplete="off" formControlName="siteName" [(ngModel)]="siteName" />
                  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                  <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label class="text-capitalize">Serial Number(s) <span class="fn">(30)</span></mat-label>
                  <input matInput formControlName="serialNumber" />
                  <mat-error class="pb-3" *ngIf="checkValidation('serialNumber')">
                    {{ serialNumberErrors() }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="example-container1 row">
              <div class="row">
                <h3>Technical Details</h3>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label class="text-capitalize">Device Type Code <span class="fn">(29)</span></mat-label>

                  <mat-select formControlName="deviceTypeCode" [(ngModel)]="deviceTypeCode">
                    <mat-option *ngFor="let code of devicetypelist" [value]="code.code">
                      {{ code.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Capacity(kW) <span class="fn">(6)</span></mat-label>
                  <input matInput type="number" [(ngModel)]="capacity" formControlName="capacity" [min]="1" />
                  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                  <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label class="text-capitalize">commissioning Date</mat-label>
                  <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
                    formControlName="commissioningDate" [max]="maxDate" [(ngModel)]="commissioningDate" />
                  <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                  <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false" [stepHour]="1"
                    [stepMinute]="1" [stepSecond]="1" [touchUi]="false" [enableMeridian]="false" [disableMinute]="false"
                    [hideTime]="false">
                  </ngx-mat-datetime-picker>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label class="text-capitalize">Device Description <span class="fn">(5)</span></mat-label>
                  <mat-select formControlName="deviceDescription" [(ngModel)]="deviceDescription">
                    <mat-option *ngFor="let code of devicediscription" [value]="code">
                      {{ code }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Operating Configuration <span class="fn">(60)</span></mat-label>
                  <mat-select formControlName="operatingConfiguration" [(ngModel)]="operatingConfiguration" panelClass="wide-panel"
                    (selectionChange)="onOperatingConfigChange($event.value)">
                    <mat-option *ngFor="let oc of operatingConfigurations" [value]="oc">
                      {{ oc }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label class="text-capitalize">Energy Storage (kWh)</mat-label>
                  <input matInput autocomplete="off" placeholder="0 = no storage"
                    [(ngModel)]="energyStorageCapacity" type="number" min="0"
                    formControlName="energyStorageCapacity"
                    (ngModelChange)="onEnergyStorageCapacityChange($event)" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="row">
                <h3>Location</h3>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label class="text-capitalize">Address <span class="fn">(10)</span></mat-label>
                  <input autocomplete="off" matInput placeholder="address" formControlName="address"
                    [(ngModel)]="address" />
                  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                  <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label class="text-capitalize">Postcode (Zip Code) <span class="fn">(12)</span></mat-label>
                  <input matInput type="string" formControlName="postcode" [(ngModel)]="postcode" />
                  <mat-error>Please enter the valid postcode</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label class="text-capitalize">State/Province/County <span class="fn">(11)</span></mat-label>
                  <input matInput formControlName="stateProvince" [(ngModel)]="stateProvince" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label class="text-capitalize">Select country Code <span class="fn">(9)</span></mat-label>
                  <input type="text" matInput formControlName="countryCode" [(ngModel)]="countryCode"
                    [matAutocomplete]="auto" />
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let code of filteredCountryList | async" [value]="code.country">
                      {{ code.country }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-error *ngIf="showerror" style="margin-top: -15px">
                  Invalid Country Selected
                </mat-error>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label class="text-capitalize">Latitude <span class="fn">(14)</span></mat-label>
                  <input matInput placeholder="latitude" formControlName="latitude" [(ngModel)]="latitude" />
                  <mat-error>please enter the valid value</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label class="text-capitalize">Longitude <span class="fn">(15)</span></mat-label>
                  <input matInput placeholder="longitude" formControlName="longitude" [(ngModel)]="longitude" />
                  <mat-error>please enter the valid value</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row map-row">
              <div class="col-md-6 pb-4 map-col">
                <app-map [zoom]="6" #streetMap></app-map>
              </div>
              <div class="col-md-6 pb-4 map-col">
                <app-map [zoom]="19" [satellite]="true" #satelliteMap></app-map>
              </div>
            </div>
            <div class="row">
              <div class="row">
                <h3>Other Details</h3>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label class="text-capitalize">SDG Benefits <span class="fn">(73)</span></mat-label>
                  <mat-select formControlName="SDGBenefits" [(ngModel)]="SDGBenefits" multiple>
                    <mat-option *ngFor="let sdgb of sdgblist" [value]="sdgb.name">{{ sdgb.value }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <button
                  class="btn btn-outline-danger d-block w-100 text-capitalize cursor-pointer"
                  style="height:48px;font-size:13px"
                  (click)="addmore()" *ngIf="showaddmore">
                  More details &hellip;
                </button>

                <button
                  class="btn btn-outline-dark d-block w-100 text-capitalize cursor-pointer"
                  style="height:48px;font-size:13px"
                  (click)="nomore()" *ngIf="shownomore">
                  Less details
                </button>
              </div>
            </div>
            <div class="example-container1 row" *ngIf="addmoredetals">
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label class="text-capitalize">off Taker <span class="fn">(71)</span></mat-label>

                  <mat-select formControlName="offTaker" placeholder="offTaker" [(ngModel)]="offTaker">
                    <mat-option *ngFor="let code of offtaker" [value]="code">
                      {{ code }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label class="text-capitalize">impact Story <span class="fn">(72)</span></mat-label>
                  <textarea matInput formControlName="impactStory" [(ngModel)]="impactStory" rows="3"
                    matTooltip="Describe the social, environmental, or economic impact of this device. For example: number of households served, displacement of diesel generators, improvement in local air quality, support for livelihoods, or contribution to community electrification goals."
                    matTooltipPosition="above"></textarea>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label class="text-capitalize">Quality Labels <span class="fn">(9)</span></mat-label>
                  <input matInput placeholder="qualityLabels" formControlName="qualityLabels"
                    [(ngModel)]="qualityLabels" />
                </mat-form-field>
              </div>
              <div class="col-md-3 d-flex flex-column">
                <span>Grid Inter-connection: <span class="fn">(55)</span></span>
                <mat-radio-group formControlName="gridInterconnection" [(ngModel)]="gridInterconnection">
                  <mat-radio-button [value]="true">Yes</mat-radio-button>
                  <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Source Access Mode <span class="fn">(63)</span></mat-label>
                  <mat-select formControlName="sourceAccessMode" [(ngModel)]="sourceAccessMode">
                    <mat-option [value]="null">-- Not specified --</mat-option>
                    <mat-option *ngFor="let sam of sourceAccessModes" [value]="sam">
                      {{ sam }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Default Account Code <span class="fn">(2)</span></mat-label>
                  <input matInput formControlName="defaultAccountCode"
                    placeholder="Evident trade account code" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Requested Eff. Reg. Date <span class="fn">(8)</span></mat-label>
                  <input matInput [matDatepicker]="regDatePicker" formControlName="requestedEffectiveRegDate" />
                  <mat-datepicker-toggle matSuffix [for]="regDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #regDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Registration Type <span class="fn">(§1.1)</span></mat-label>
                  <mat-select formControlName="registrationType">
                    <mat-option *ngFor="let rt of registrationTypes" [value]="rt">
                      {{ rt }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Volume Evidence Type <span class="fn">(§1.3)</span></mat-label>
                  <mat-select formControlName="volumeEvidenceType">
                    <mat-option *ngFor="let ve of volumeEvidenceTypes" [value]="ve">
                      {{ ve }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Verification Agent <span class="fn">(§1.6)</span></mat-label>
                  <input matInput formControlName="verificationAgentName" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Off-Grid Circumstances <span class="fn">(§1.3)</span></mat-label>
                  <input matInput formControlName="offGridCircumstances" />
                </mat-form-field>
              </div>
            </div>
            <div class="example-container1 row" *ngIf="addmoredetals">
              <div class="col-md-12">
                <h4 class="text-capitalize" style="margin-top:24px">Facility Technical</h4>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Meter / Measurement ID(s) <span class="fn">(32)</span></mat-label>
                  <input matInput formControlName="meterIds"
                    placeholder="e.g. MTR-001, MTR-002" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Number of generating units <span class="fn">(33)</span></mat-label>
                  <input matInput formControlName="generatingUnitCount" type="number" min="1" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Network owner <span class="fn">(35)</span></mat-label>
                  <input matInput formControlName="networkOwner" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Interconnection voltage <span class="fn">(36)</span></mat-label>
                  <input matInput formControlName="interconnectionVoltage" />
                </mat-form-field>
              </div>
            </div>
            <div class="example-container1 row" *ngIf="addmoredetals">
              <div class="col-md-12">
                <h4 class="text-capitalize" style="margin-top:24px">Ownership &amp; Incentives</h4>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>PV System Owner <span class="fn">(77)</span></mat-label>
                  <input matInput formControlName="pvSystemOwner" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Off-taker Name <span class="fn">(76)</span></mat-label>
                  <input matInput formControlName="offTakerName" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Off-taker same company as PV owner? <span class="fn">(81)</span></mat-label>
                  <mat-select formControlName="offTakerSameCompanyAsOwner">
                    <mat-option [value]="null">--</mat-option>
                    <mat-option value="Yes">Yes</mat-option>
                    <mat-option value="No">No</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Subsidy or incentive received? <span class="fn">(78)</span></mat-label>
                  <mat-select formControlName="hasSubsidy">
                    <mat-option [value]="null">--</mat-option>
                    <mat-option value="Yes">Yes</mat-option>
                    <mat-option value="No">No</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3" *ngIf="updateDeviceForm.get('hasSubsidy')?.value === 'Yes'">
                <mat-form-field appearance="outline">
                  <mat-label>Subsidy types <span class="fn">(79)</span></mat-label>
                  <mat-select formControlName="subsidyTypes" multiple>
                    <mat-option value="Net Metering">Net Metering</mat-option>
                    <mat-option value="Feed In Tariff">Feed In Tariff</mat-option>
                    <mat-option value="Tax Credit">Tax Credit</mat-option>
                    <mat-option value="Performance Based Grant">Performance Based Grant</mat-option>
                    <mat-option value="Other">Other</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3" *ngIf="updateDeviceForm.get('subsidyTypes')?.value?.includes('Other')">
                <mat-form-field appearance="outline">
                  <mat-label>Other &mdash; details</mat-label>
                  <input matInput formControlName="subsidyOtherDetails" />
                </mat-form-field>
              </div>
              <div class="col-md-3" *ngIf="updateDeviceForm.get('hasSubsidy')?.value === 'Yes'">
                <mat-form-field appearance="outline">
                  <mat-label>Subsidies claim env. attributes? <span class="fn">(80)</span></mat-label>
                  <mat-select formControlName="subsidyClaimsEacs">
                    <mat-option [value]="null">--</mat-option>
                    <mat-option value="Yes">Yes</mat-option>
                    <mat-option value="No">No</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Public (government) funding? <span class="fn">(50)</span></mat-label>
                  <mat-select formControlName="hasPublicFunding">
                    <mat-option [value]="null">--</mat-option>
                    <mat-option value="Yes">Yes</mat-option>
                    <mat-option value="No">No</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3" *ngIf="updateDeviceForm.get('hasPublicFunding')?.value === 'Yes'">
                <mat-form-field appearance="outline">
                  <mat-label>Public funding end date <span class="fn">(51)</span></mat-label>
                  <input matInput [matDatepicker]="fundEnd" formControlName="publicFundingEndDate" />
                  <mat-datepicker-toggle matSuffix [for]="fundEnd"></mat-datepicker-toggle>
                  <mat-datepicker #fundEnd></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="example-container1 row" *ngIf="addmoredetals">
              <div class="col-md-12">
                <h4 class="text-capitalize" style="margin-top:24px">Business Details</h4>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Captive consumer present? <span class="fn">(43)</span></mat-label>
                  <mat-select formControlName="hasCaptiveConsumer">
                    <mat-option [value]="null">--</mat-option>
                    <mat-option value="Yes">Yes</mat-option>
                    <mat-option value="No">No</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Auxiliary energy sources? <span class="fn">(45)</span></mat-label>
                  <mat-select formControlName="hasAuxiliaryEnergySources">
                    <mat-option [value]="null">--</mat-option>
                    <mat-option value="Yes">Yes</mat-option>
                    <mat-option value="No">No</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3" *ngIf="updateDeviceForm.get('hasAuxiliaryEnergySources')?.value === 'Yes'">
                <mat-form-field appearance="outline">
                  <mat-label>Auxiliary source details <span class="fn">(46)</span></mat-label>
                  <input matInput formControlName="auxiliaryEnergySourceDetails" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Non-meter import details <span class="fn">(47)</span></mat-label>
                  <input matInput formControlName="nonMeterImportDetails" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Other EAC scheme registration <span class="fn">(48)</span></mat-label>
                  <input matInput formControlName="otherEacSchemeRegistration"
                    placeholder="Registration ID or 'None'" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Additional Information <span class="fn">(54)</span></mat-label>
                  <input matInput formControlName="additionalInfo" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Labelling Scheme <span class="fn">(§1.5)</span></mat-label>
                  <input matInput formControlName="labellingSchemeAccreditation"
                    placeholder="Scheme name or 'None'" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Public Funding Type <span class="fn">(§1.5)</span></mat-label>
                  <mat-select formControlName="publicFundingType">
                    <mat-option [value]="null">-- Not specified --</mat-option>
                    <mat-option *ngFor="let pf of publicFundingTypes" [value]="pf">
                      {{ pf }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="example-container1 row" *ngIf="addmoredetals">
              <div class="col-md-12">
                <h4 class="text-capitalize" style="margin-top:24px">Evidence Pathway &amp; Signature</h4>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Is this facility grid-connected? <span class="fn">(58)</span></mat-label>
                  <mat-select formControlName="isGridConnected">
                    <mat-option [value]="null">--</mat-option>
                    <mat-option value="Yes">Yes</mat-option>
                    <mat-option value="No">No</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3" *ngIf="updateDeviceForm.get('isGridConnected')?.value === 'Yes'">
                <mat-form-field appearance="outline">
                  <mat-label>Does this facility export to the grid? <span class="fn">(59)</span></mat-label>
                  <mat-select formControlName="gridExportType">
                    <mat-option [value]="null">--</mat-option>
                    <mat-option value="No (zero-export)">No (zero-export)</mat-option>
                    <mat-option value="Yes (partial-export)">Yes (partial-export)</mat-option>
                    <mat-option value="Yes (full-export)">Yes (full-export)</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3" *ngIf="updateDeviceForm.get('isGridConnected')?.value === 'Yes'">
                <mat-form-field appearance="outline">
                  <mat-label>Network meter installed? <span class="fn">(61)</span></mat-label>
                  <mat-select formControlName="hasNetworkMeter">
                    <mat-option [value]="null">--</mat-option>
                    <mat-option value="Yes">Yes</mat-option>
                    <mat-option value="No">No</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3" *ngIf="updateDeviceForm.get('hasNetworkMeter')?.value === 'Yes'">
                <mat-form-field appearance="outline">
                  <mat-label>Meter reads shareable via document? <span class="fn">(62)</span></mat-label>
                  <mat-select formControlName="meterReadsShareable">
                    <mat-option [value]="null">--</mat-option>
                    <mat-option value="Yes">Yes</mat-option>
                    <mat-option value="No">No</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Signatory name <span class="fn">(56)</span></mat-label>
                  <input matInput formControlName="signatoryName" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="row">
                <h3>Supporting Documents</h3>
              </div>

              <div class="col-md-4 mb-3">
                <label>Form SF-02 - Production Facility Registration
                  <span class="badge-{{getDocRequirement('FORM_SF_02')}}">{{getDocRequirement('FORM_SF_02')}}</span>
                </label>
                <small class="doc-hint" *ngIf="getDocHint('FORM_SF_02')">{{getDocHint('FORM_SF_02')}}</small>
                <div class="d-flex justify-content-between align-items-center doc-box">
                  <input type="file" #pfFileInput (change)="onFileChange($event, DocumentType.FORM_SF_02)"
                    style="display: none;" />
                  <button type="button" (click)="pfFileInput.click()" class="btn btn-primary">
                    <mat-icon>attach_file</mat-icon>
                  </button>
                  <span class="file-name" [class.file-name--missing]="!files['FORM_SF_02']?.length && brokenDocs['FORM_SF_02']">
                    {{ files['FORM_SF_02']?.[0]?.name || existingDocLabel('FORM_SF_02') }}
                  </span>
                  <span *ngIf="!files['FORM_SF_02']?.length && brokenDocs['FORM_SF_02']"
                    class="badge px-2 py-1" style="background:#94a3b8;color:#fff" title="Missing">
                    <mat-icon style="font-size:18px;height:18px;width:18px">error_outline</mat-icon>
                  </span>
                  <button *ngIf="filePreviews['FORM_SF_02']" type="button"
                    class="badge bg-success text-white px-3 py-2 preview-btn"
                    (click)="openPreview('FORM_SF_02')">
                    <mat-icon style="font-size:18px;height:18px;width:18px">visibility</mat-icon>
                  </button>
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label>SF-02C Owner's Declaration or Proof of Ownership
                  <span class="badge-{{getDocRequirement('SF_02C')}}">{{getDocRequirement('SF_02C')}}</span>
                </label>
                <small class="doc-hint" *ngIf="getDocHint('SF_02C')">{{getDocHint('SF_02C')}}</small>
                <div class="d-flex justify-content-between align-items-center doc-box">
                  <input type="file" #ownershipFileInput (change)="onFileChange($event, DocumentType.SF_02C)"
                    style="display: none" />
                  <button type="button" (click)="ownershipFileInput.click()" class="btn btn-primary">
                    <mat-icon>attach_file</mat-icon>
                  </button>
                  <span class="file-name" [class.file-name--missing]="!files['SF_02C']?.length && brokenDocs['SF_02C']">
                    {{ files['SF_02C']?.[0]?.name || existingDocLabel('SF_02C') }}
                  </span>
                  <span *ngIf="!files['SF_02C']?.length && brokenDocs['SF_02C']"
                    class="badge px-2 py-1" style="background:#94a3b8;color:#fff" title="Missing">
                    <mat-icon style="font-size:18px;height:18px;width:18px">error_outline</mat-icon>
                  </span>
                  <button *ngIf="filePreviews['SF_02C']" type="button"
                    class="badge bg-success text-white px-3 py-2 preview-btn"
                    (click)="openPreview('SF_02C')">
                    <mat-icon style="font-size:18px;height:18px;width:18px">visibility</mat-icon>
                  </button>
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label>Metering Evidence
                  <span class="badge-{{getDocRequirement('METERING_EVIDENCE')}}">{{getDocRequirement('METERING_EVIDENCE')}}</span>
                </label>
                <small class="doc-hint" *ngIf="getDocHint('METERING_EVIDENCE')">{{getDocHint('METERING_EVIDENCE')}}</small>
                <div class="d-flex justify-content-between align-items-center doc-box">
                  <input type="file" #meteringFileInput
                    (change)="onFileChange($event, DocumentType.METERING_EVIDENCE)" style="display: none" />
                  <button type="button" (click)="meteringFileInput.click()" class="btn btn-primary">
                    <mat-icon>attach_file</mat-icon>
                  </button>
                  <span class="file-name" [class.file-name--missing]="!files['METERING_EVIDENCE']?.length && brokenDocs['METERING_EVIDENCE']">
                    {{ files['METERING_EVIDENCE']?.[0]?.name || existingDocLabel('METERING_EVIDENCE') }}
                  </span>
                  <span *ngIf="!files['METERING_EVIDENCE']?.length && brokenDocs['METERING_EVIDENCE']"
                    class="badge px-2 py-1" style="background:#94a3b8;color:#fff" title="Missing">
                    <mat-icon style="font-size:18px;height:18px;width:18px">error_outline</mat-icon>
                  </span>
                  <button *ngIf="filePreviews['METERING_EVIDENCE']" type="button"
                    class="badge bg-success text-white px-3 py-2 preview-btn"
                    (click)="openPreview('METERING_EVIDENCE')">
                    <mat-icon style="font-size:18px;height:18px;width:18px">visibility</mat-icon>
                  </button>
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label>Single Line Diagram
                  <span class="badge-{{getDocRequirement('SINGLE_LINE_DIAGRAM')}}">{{getDocRequirement('SINGLE_LINE_DIAGRAM')}}</span>
                </label>
                <small class="doc-hint" *ngIf="getDocHint('SINGLE_LINE_DIAGRAM')">{{getDocHint('SINGLE_LINE_DIAGRAM')}}</small>
                <div class="d-flex justify-content-between align-items-center doc-box">
                  <input type="file" #diagramFileInput
                    (change)="onFileChange($event, DocumentType.SINGLE_LINE_DIAGRAM)" style="display: none" />
                  <button type="button" (click)="diagramFileInput.click()" class="btn btn-primary">
                    <mat-icon>attach_file</mat-icon>
                  </button>
                  <span class="file-name" [class.file-name--missing]="!files['SINGLE_LINE_DIAGRAM']?.length && brokenDocs['SINGLE_LINE_DIAGRAM']">
                    {{ files['SINGLE_LINE_DIAGRAM']?.[0]?.name || existingDocLabel('SINGLE_LINE_DIAGRAM') }}
                  </span>
                  <span *ngIf="!files['SINGLE_LINE_DIAGRAM']?.length && brokenDocs['SINGLE_LINE_DIAGRAM']"
                    class="badge px-2 py-1" style="background:#94a3b8;color:#fff" title="Missing">
                    <mat-icon style="font-size:18px;height:18px;width:18px">error_outline</mat-icon>
                  </span>
                  <button *ngIf="filePreviews['SINGLE_LINE_DIAGRAM']" type="button"
                    class="badge bg-success text-white px-3 py-2 preview-btn"
                    (click)="openPreview('SINGLE_LINE_DIAGRAM')">
                    <mat-icon style="font-size:18px;height:18px;width:18px">visibility</mat-icon>
                  </button>
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label>Project Photos
                  <span class="badge-{{getDocRequirement('PROJECT_PHOTOS')}}">{{getDocRequirement('PROJECT_PHOTOS')}}</span>
                </label>
                <small class="doc-hint" *ngIf="getDocHint('PROJECT_PHOTOS')">{{getDocHint('PROJECT_PHOTOS')}}</small>
                <div class="d-flex justify-content-between align-items-center doc-box">
                  <input type="file" #photosFileInput multiple
                    (change)="onFileChange($event, DocumentType.PROJECT_PHOTOS)" style="display: none" />
                  <button type="button" (click)="photosFileInput.click()" class="btn btn-primary">
                    <mat-icon>attach_file</mat-icon>
                  </button>
                  <span class="file-name" [class.file-name--missing]="!files['PROJECT_PHOTOS']?.length && brokenDocs['PROJECT_PHOTOS']">
                    {{ (files['PROJECT_PHOTOS']?.length || 0) > 1
                      ? files['PROJECT_PHOTOS']!.length + ' files selected'
                      : files['PROJECT_PHOTOS']?.[0]?.name || existingDocLabel('PROJECT_PHOTOS') }}
                  </span>
                  <span *ngIf="!files['PROJECT_PHOTOS']?.length && brokenDocs['PROJECT_PHOTOS']"
                    class="badge px-2 py-1" style="background:#94a3b8;color:#fff" title="Missing">
                    <mat-icon style="font-size:18px;height:18px;width:18px">error_outline</mat-icon>
                  </span>
                  <button *ngIf="filePreviews['PROJECT_PHOTOS']" type="button"
                    class="badge bg-success text-white px-3 py-2 preview-btn"
                    (click)="openPreview('PROJECT_PHOTOS')">
                    <mat-icon style="font-size:18px;height:18px;width:18px">visibility</mat-icon>
                  </button>
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label>Screenshots
                  <span class="badge-{{getDocRequirement('SCREENSHOTS')}}">{{getDocRequirement('SCREENSHOTS')}}</span>
                </label>
                <small class="doc-hint" *ngIf="getDocHint('SCREENSHOTS')">{{getDocHint('SCREENSHOTS')}}</small>
                <div class="d-flex justify-content-between align-items-center doc-box">
                  <input type="file" #screenshotsFileInput multiple
                    (change)="onFileChange($event, DocumentType.SCREENSHOTS)" style="display: none" />
                  <button type="button" (click)="screenshotsFileInput.click()" class="btn btn-primary">
                    <mat-icon>attach_file</mat-icon>
                  </button>
                  <span class="file-name" [class.file-name--missing]="!files['SCREENSHOTS']?.length && brokenDocs['SCREENSHOTS']">
                    {{ (files['SCREENSHOTS']?.length || 0) > 1
                      ? files['SCREENSHOTS']!.length + ' files selected'
                      : files['SCREENSHOTS']?.[0]?.name || existingDocLabel('SCREENSHOTS') }}
                  </span>
                  <span *ngIf="!files['SCREENSHOTS']?.length && brokenDocs['SCREENSHOTS']"
                    class="badge px-2 py-1" style="background:#94a3b8;color:#fff" title="Missing">
                    <mat-icon style="font-size:18px;height:18px;width:18px">error_outline</mat-icon>
                  </span>
                  <button *ngIf="filePreviews['SCREENSHOTS']" type="button"
                    class="badge bg-success text-white px-3 py-2 preview-btn"
                    (click)="openPreview('SCREENSHOTS')">
                    <mat-icon style="font-size:18px;height:18px;width:18px">visibility</mat-icon>
                  </button>
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label title="Commercial Operation Date">COD Proof</label>
                <mat-radio-group formControlName="codEvidenceMode" style="display:flex;flex-direction:column;gap:4px;margin-bottom:8px">
                  <mat-radio-button value="self">Self-declaration (we generate it)</mat-radio-button>
                  <mat-radio-button value="upload">Upload utility / grid-operator doc</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="updateDeviceForm.get('codEvidenceMode')?.value === 'upload'">
                  <small class="doc-hint" *ngIf="getDocHint('COD_PROOF')">{{getDocHint('COD_PROOF')}}</small>
                  <div class="d-flex justify-content-between align-items-center doc-box">
                    <input type="file" #codProofFileInput
                      (change)="onFileChange($event, DocumentType.COD_PROOF)" style="display: none" />
                    <button type="button" (click)="codProofFileInput.click()" class="btn btn-primary">
                      <mat-icon>attach_file</mat-icon>
                    </button>
                    <span class="file-name" [class.file-name--missing]="!files['COD_PROOF']?.length && brokenDocs['COD_PROOF']">
                      {{ files['COD_PROOF']?.[0]?.name || existingDocLabel('COD_PROOF') }}
                    </span>
                    <span *ngIf="!files['COD_PROOF']?.length && brokenDocs['COD_PROOF']"
                      class="badge px-2 py-1" style="background:#94a3b8;color:#fff" title="Missing">
                      <mat-icon style="font-size:18px;height:18px;width:18px">error_outline</mat-icon>
                    </span>
                    <button *ngIf="filePreviews['COD_PROOF']" type="button"
                      class="badge bg-success text-white px-3 py-2 preview-btn"
                      (click)="openPreview('COD_PROOF')">
                      <mat-icon style="font-size:18px;height:18px;width:18px">visibility</mat-icon>
                    </button>
                  </div>
                </div>
                <small *ngIf="updateDeviceForm.get('codEvidenceMode')?.value === 'self'"
                       style="color:#64748b;font-style:italic">
                  A COD declaration will be generated from the commissioning date &amp; site details, for registrant signature at submission.
                </small>
              </div>

              <div class="col-md-4 mb-3">
                <label>Other Documents
                  <span class="badge-optional">Optional</span>
                </label>
                <div class="d-flex justify-content-between align-items-center doc-box">
                  <input type="file" #otherDocsFileInput
                    (change)="onFileChange($event, DocumentType.OTHER_DOCUMENTS)" style="display: none"
                    multiple />
                  <button type="button" (click)="otherDocsFileInput.click()" class="btn btn-primary">
                    <mat-icon>attach_file</mat-icon>
                  </button>
                  <span class="file-name" [class.text-muted]="!files['OTHER_DOCUMENTS']?.length">
                    {{ files['OTHER_DOCUMENTS']?.[0]?.name || '' }}
                  </span>
                </div>
              </div>
            </div>

          </mat-card-content>
          <!-- <mat-card-footer></mat-card-footer> -->
        </mat-card>
        <!-- </div> -->
        <mat-card-footer>
          <hr style="margin:16px 0 12px" />
          <div class="example-container row">
            <div class="col-12 d-flex justify-content-end gap-3">
              <button type="button" class="btn btn-outline-secondary text-capitalize px-4" (click)="reset()">Cancel</button>
              <button type="submit" class="btn-primary btn text-capitalize px-4" [disabled]="updateDeviceForm.invalid">
                Update</button>
            </div>
          </div>
        </mat-card-footer>
      </mat-card-content>
    </form>
  </mat-card>
</div>

<ng-template #previewDialog>
  <h2 mat-dialog-title class="d-flex justify-content-between align-items-center mb-0">
    <span>{{ previewData?.name }}</span>
    <button mat-icon-button (click)="previewDialogRef.close()">
      <mat-icon>close</mat-icon>
    </button>
  </h2>
  <div mat-dialog-content class="preview-dialog-content">
    <app-pdf-preview
      [previewUrl]="previewData!.url"
      [previewType]="previewData!.type === 'pdf' ? 'pdf' : 'image'"
      [ocrSource]="currentPreviewFile">
    </app-pdf-preview>
  </div>
</ng-template>

<ng-template #errorDialog let-data>
  <h2 mat-dialog-title style="color: #dc3545;">
    <mat-icon style="vertical-align: middle; margin-right: 8px;">error</mat-icon>
    {{ data?.title || 'Error' }}
  </h2>
  <div mat-dialog-content>
    <p>{{ data?.message }}</p>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-end">
    <button mat-button class="btn btn-primary" mat-dialog-close>OK</button>
  </div>
</ng-template>