<div class="body-bg">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2 class="pb-0 mb-3 fw-bold text-capitalize" test-id="evident-integration">Evident Integration</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3 g-3">
          <div class="col-md-6 d-flex flex-column">
            <label class="form-label text-capitalize">Evident API Key</label>
            <input
              type="text"
              formControlName="apiKey"
              placeholder="Enter API key"
              test-id="evident-api-key"
            />
            <mat-error *ngIf="checkValidation('apiKey')"
              >API Key is required</mat-error
            >
          </div>
          <div class="col-md-6 d-flex flex-column">
            <label class="form-label text-capitalize">Evident Email</label>
            <input
              type="email"
              formControlName="email"
              placeholder="Evident Email"
              test-id="evident-email"
            />
            <mat-error class="pb-3" *ngIf="checkValidation('email')">
              {{ emailErrors() }}
            </mat-error>
          </div>
        </div>

        <div class="row mb-3 g-3">
          <div class="col-md-6 d-flex flex-column">
            <label class="form-label text-capitalize"
              >Default Beneficiary Account</label
            >
            <input
              type="text"
              formControlName="defaultBeneficiaryAccount"
              placeholder="Enter Beneficiary Account ID"
              test-id="default-beneficiary-account"
            />
            <mat-error *ngIf="checkValidation('defaultBeneficiaryAccount')"
              >Beneficiary Account is required</mat-error
            >
          </div>
          <div class="col-md-6 d-flex flex-column">
            <label class="form-label text-capitalize"
              >Default Trading Account</label
            >
            <input
              type="text"
              formControlName="defaultTradingAccount"
              placeholder="Enter Trading Account ID"
              test-id="default-trading-account"
            />
            <mat-error *ngIf="checkValidation('defaultTradingAccount')"
              >Trading Account is required</mat-error
            >
          </div>
        </div>

        <mat-card-footer>
          <div class="col-12 d-flex justify-content-end gap-2">
            <button
              type="button"
              class="btn-content-back btn text-capitalize px-2"
              (click)="onCancel()"
            >
              Cancel
            </button>
            <button
              type="submit"
              class="btn-primary btn text-capitalize px-2"
              [disabled]="settingsForm.invalid"
              test-id="save-evident-settings"
            >
              Save settings
            </button>
          </div>
        </mat-card-footer>
      </form>
    </mat-card-content>
  </mat-card>
</div>
