<div class="body-bg pt-4">
  <mat-card class="mb-3">
    <mat-card-content>
  <div [formGroup]="updateForm">
    <div class="row">
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label class="text-capitalize">First Name</mat-label>
          <input
            readonly
            type="text"
            matInput
            formControlName="firstName"
            [(ngModel)]="firstName"
            test-id="first-name"
          />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label class="text-capitalize">Last Name</mat-label>
          <input
            readonly
            type="text"
            matInput
            formControlName="lastName"
            [(ngModel)]="lastName"
            test-id="last-name"
          />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label class="text-capitalize">Email</mat-label>
          <input
            readonly
            type="email"
            matInput
            formControlName="email"
            [(ngModel)]="email"
            test-id="email"
          />
        </mat-form-field>
      </div>
    </div>
  </div>

  <hr />

  <h3 class="fw-bold mb-3">Security Setting</h3>
  <form
    [formGroup]="resetpasswordform"
    (ngSubmit)="onResetPasswordUpdate()"
  >
    <div class="row">
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="mt-0 mb-4">
          <mat-label class="mat-labels-cont">New Password</mat-label>
          <input
            autocomplete="off"
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="newPassword"
            test-id="new-password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
            class="icon-eye"
          >
            <mat-icon>{{
              hide ? 'visibility_off' : 'visibility'
            }}</mat-icon>
          </button>
          <mat-hint class="password-desc text-wrap"
            >Choose a password of at max 6 characters (upper and/or
            lower case) and one number</mat-hint
          >
          <mat-error
            class="pb-5"
            *ngIf="checkValidation('password')"
          >
            {{ getErrorPassword() }}
          </mat-error>
          <br />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="mb-4">
          <mat-label class="mat-labels-cont">Confirm Password</mat-label>
          <input
            autocomplete="off"
            [type]="hide1 ? 'password' : 'text'"
            matInput
            formControlName="confirmPassword"
            test-id="confirm-password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide1 = !hide1"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide1"
            class="icon-eye"
          >
            <mat-icon>{{
              hide1 ? 'visibility_off' : 'visibility'
            }}</mat-icon>
          </button>
          <mat-hint class="password-desc text-wrap"
            >Choose a password of at max 6 characters (upper and/or
            lower case) and one number</mat-hint
          >
          <mat-error
            class=""
            *ngIf="checkValidation('confirmPassword')"
          >
            {{ getErrorcheckconfirmPassword() }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 d-flex justify-content-end">
        <button
          type="submit"
          class="btn-primary btn text-capitalize px-4"
          [disabled]="resetpasswordform.invalid"
          test-id="reset-password-form"
        >
          Reset Password</button
        >&nbsp;&nbsp;
      </div>
    </div>
  </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-3" *ngIf="loginuser?.role !== 'Admin'">
    <mat-card-content>
      <p>Permanently delete your account and all associated data. This action cannot be undone.</p>
      <button
        type="button"
        class="btn btn-danger text-capitalize px-4"
        (click)="onDeleteAccount()"
      >
        Delete My Account
      </button>
    </mat-card-content>
  </mat-card>
</div>
