.body-bg {
  padding: 16px 20px;
  background: #f8f9fb;
  // width: fit-content;
  // position: fixed;
  .mat-mdc-card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) !important;
    border: none !important;
    // overflow-x: scroll;
    overflow: hidden;
    // overflow: scroll;
    padding: 15px 0px;
  }
  .mat-elevation-z8 {
    // overflow-x: scroll;
    // width: fit-content;
    overflow: scroll;
    min-width: 100% !important;
  }
  table {
    width: 100%;
  }
  .mat-mdc-paginator {
    display: initial !important;
  }
}
