<div class="body-bg  alldevice-component">

    <mat-card>
      <mat-card-header class="d-flex mb-3 justify-content-between mat-crd-hide align-items-center ">
  
        <div>
          <mat-card-title>
            <h2 class="pb-0 mb-0 fw-bold text-capitalize ps-2">All Api Users
            </h2>
          </mat-card-title>
        </div>
  
      </mat-card-header>
      <hr class="mt-0 pt-0">
  
      <mat-card-content class="mat-body-cont text-center">
  
        <mat-card *ngIf="showorg &&!showorguser">
          <mat-card-content>
            <h2 style="text-align: center;color:#f2be1a; font-size: 20px;" class="text-capitalize">
              <b>Organization details</b>
            </h2>
  
            <div class='content1'>
              <div class='column col-4'>
                <div class='row '>
                  <p><b> Organization Name</b>:&nbsp;
                    <!--{{item.generationStartTime+'000'| date:'EEE d MMMM y hh:ss'}} - in UTC:-->
                    {{orgdetails.name}}
                  </p>
                </div>
              </div>
              <div class='column col-4'>
                <div class='row'>
                  <p><b>Role</b>:&nbsp;<!--{{item.generationEndTime+'000'| date:'EEE d MMMM y hh:ss'}}  - in UTC:-->
                    {{orgdetails.organizationType}}</p>
  
                </div>
  
              </div>
              <div class='column col-4'>
                <div class='row'>
                  <p><b> Status</b>:&nbsp;<!--{{item.generationEndTime+'000'| date:'EEE d MMMM y hh:ss'}}  - in UTC:-->
                    {{orgdetails.status}}</p>
                </div>
              </div>
  
            </div>
          </mat-card-content>
          <hr>
        </mat-card>
        <mat-card *ngIf="!showorg && !showorguser">
          <form [formGroup]="FilterForm">
            <mat-card-content>
              <h3 style="text-align: center;color:#f2be1a; font-size: 16px;" class="text-capitalize">Filter User list By
                Select Organization</h3>
              <div class="example-container1 row">
                <!-- <div class="col-md-3">
    
                    <mat-form-field appearance="outline">
                      <mat-label class="text-capitalize">Organization</mat-label>
    
                      <mat-select formControlName="organizationName">
    
                        <mat-option *ngFor="let code of orglist" [value]="code.name">
                          {{code.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div> -->
  
                <div class="col-md-3">
                  <mat-form-field appearance="outline">
                    <mat-label class="text-capitalize">Select Organization</mat-label>
                    <input type="text" aria-label="text" matInput formControlName="organizationName"
                      [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectOrg($event)">
                      <!-- <mat-option [value]="">---</mat-option> -->
                      <mat-option *ngFor="let code of filteredOptions | async" [value]="code.name">
                        {{ code.name }}
                      </mat-option>
                    </mat-autocomplete>
  
                  </mat-form-field>
                  <mat-error *ngIf="showerror" style="margin-top: -15px;"> Invalid roganization</mat-error>
                </div>
                <div class="col-md-12 mb-3  d-flex ">
                  <div class="">
                    <button class="btn-primary me-2 btn text-capitalize px-4" (click)="getAllUsers(p)">Filter</button>
                  </div>
                  <div class="">
                    <button class="btn-dark btn text-capitalize px-4" (click)="reset()">Reset</button>
                  </div>
  
  
                </div>
              </div>
            </mat-card-content>
          </form>
        </mat-card>
        <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading"></mat-progress-spinner>
        <div class="content mat-elevation-z8 text-center" *ngIf="showlist">
          <table mat-table [dataSource]="dataSource" class="" matSort>
  
            <!-- Position Column -->
            <ng-container matColumnDef="organization">
              <th mat-header-cell *matHeaderCellDef class="text-left">Organization </th>
              <td mat-cell *matCellDef="let row;let i=index"> {{row.organization?.name}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="text-left">Name </th>
              <td mat-cell *matCellDef="let row;let i=index"> {{row.firstName}} {{row.lastName}}</td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-left"> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
  
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef class="text-left"> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
  
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-left"> Role</th>
              <td mat-cell *matCellDef="let element"> {{element.role}} </td>
            </ng-container>
            <!-- Status Column -->
            <!-- <ng-container matColumnDef="commissioningDate">
                  <th mat-header-cell *matHeaderCellDef  class="text-left">Commissioning Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.commissioningDate| date:'dd MMM y'}} </td>
                </ng-container>
                <ng-container matColumnDef="capacity">
                  <th mat-header-cell *matHeaderCellDef  class="text-left"> Capacity(kW) </th>
                  <td mat-cell *matCellDef="let element"> {{element.capacity}} </td>
                </ng-container>
                <ng-container matColumnDef="SDGBenefits">
                  <th mat-header-cell *matHeaderCellDef > SDGBenefits </th>
                  <td mat-cell *matCellDef="let row"> {{row.SDGBenefits}} </td> -->
            <!-- </ng-container> -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="text-left">Action</th>
              <td mat-cell *matCellDef="let row; let i=index;">
                <a class="edit-icon action-icons" (click)="openUpdateDialog(row)">
                  <mat-icon matTooltip="Edit" [matTooltipPosition]="'above'"
                    class="primary cursor-pointer">edit</mat-icon></a>
                &nbsp;
                <a class="delete-icon action-icons" (click)="openDialog(row)">
  
                  <mat-icon matTooltip="Delete" [matTooltipPosition]="'above'" class=" cursor-pointer">delete</mat-icon>
                </a>
                <!-- <a class="delete-icon action-icons" (click)="openDialog(row)">
  
                  Permission
                </a> -->
                <a class="action-icons edit-icon" [routerLink]="['../permission/api_user_role/list',row.id]" >Permissions Status</a> 
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No Apiuser found </td>
            </tr>
          </table>
          <!-- <mat-paginator #paginator [length]="totalRows" [pageSize]="pageSize" (page)="pageChangeEvent($event)"
                aria-label="Select page">
              </mat-paginator> -->
          <!-- <hr> -->
          <div class="d-flex justify-content-start align-items-center  p-10 ">
            <button class="btn-primary me-2 btn text-capitalize px-4" (click)="previousPage()"
              [disabled]="p === 1">Previous</button>&nbsp;&nbsp;
  
            Total Pages:{{totalPages}}&nbsp;&nbsp;
            <button class="btn-primary me-2 btn text-capitalize px-4" (click)="nextPage()"
              [disabled]="p === totalPages">Next</button>
            <p style="width: 150px;
                height: 25px;
                margin-left: 420px;
                padding: 10px 5px 0px 0px"><b>Page Number:&nbsp;</b>{{p}}</p>
  
          </div>
  
        </div>
        <div *ngIf="!showlist" style="text-align: center;color: #f2be1a;">No User </div>
  
  
      </mat-card-content>
      <mat-card-footer></mat-card-footer>
    </mat-card>
  </div>