<div class="body-bg alldevice-component">
  <mat-card>
    <mat-card-header
      class="d-flex mb-3 justify-content-between mat-crd-hide align-items-center"
    >
      <div>
        <mat-card-title>
          <h2 class="pb-0 mb-0 fw-bold text-capitalize ps-2">All Registrants</h2>
        </mat-card-title>
      </div>
      <div>
        <button
          class="btn btn-dark justify-content-end px-4 align-items-center"
          (click)="openinviteDialog()"
          *ngIf="showorg && !showorguser"
        >
          <mat-icon class="align-middle me-2">add_circle</mat-icon>Invite User</button
        >&nbsp;
        <button
          class="btn btn-dark justify-content-end px-4 align-items-center"
          routerLink="/admin/All_organization"
          *ngIf="showorg && !showorguser"
        >
          <mat-icon class="align-middle me-2">arrow_back</mat-icon>Go Back
        </button>
      </div>
    </mat-card-header>
    <hr class="mt-0 pt-0" />

    <mat-card-content class="mat-body-cont">
      <mat-card *ngIf="showorg && !showorguser">
        <mat-card-content>
          <h2
            style="text-align: center; color: #475569; font-size: 20px"
            class="text-capitalize"
          >
            <b>Legal Entity Details</b>
          </h2>

          <div class="content1">
            <div class="column col-4">
              <div class="row">
                <p>
                  <b> Legal Entity Name</b>:&nbsp;
                  {{ orgdetails.name }}
                </p>
              </div>
            </div>
            <div class="column col-4">
              <div class="row">
                <p>
                  <b>Role</b>:&nbsp;
                  {{ orgdetails.organizationType }}
                </p>
              </div>
            </div>
            <div class="column col-4">
              <div class="row">
                <p>
                  <b> Status</b>:&nbsp;
                  {{ orgdetails.status }}
                </p>
              </div>
            </div>
          </div>
        </mat-card-content>
        <hr />
      </mat-card>

      <mat-form-field appearance="outline" style="width: 25%" *ngIf="!showorg && !showorguser">
        <mat-label>Search registrants</mat-label>
        <input
          type="text"
          matInput
          [(ngModel)]="searchText"
          (input)="applySearch()"
          placeholder="Name, email, or organization..."
        />
        <button *ngIf="searchText" matSuffix mat-icon-button (click)="searchText = ''; applySearch()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-icon *ngIf="!searchText" matSuffix>search</mat-icon>
      </mat-form-field>
      <div class="content text-center" *ngIf="showlist">
        <table mat-table [dataSource]="dataSource" class="" matSort>
          <ng-container matColumnDef="organization">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-left">
              Organization
            </th>
            <td mat-cell *matCellDef="let row; let i = index">
              {{ row.organization?.name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-left">Name</th>
            <td mat-cell *matCellDef="let row; let i = index">
              {{ row.firstName }} {{ row.lastName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="text-left"
            >
              Status
            </th>
            <td mat-cell *matCellDef="let element">{{ element.status }}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-left">Email</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="text-left"
            >
              Role
            </th>
            <td mat-cell *matCellDef="let element">
              {{ getRoleName(element.role) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="text-left">Action</th>
            <td mat-cell *matCellDef="let row; let i = index">
              <a class="edit-icon action-icons" (click)="openUpdateDialog(row)" test-id="edit-api-user">
                <mat-icon
                  matTooltip="Edit"
                  [matTooltipPosition]="'above'"
                  class="primary cursor-pointer"
                  >edit</mat-icon
                ></a
              >
              &nbsp;
              <a class="delete-icon action-icons" (click)="openDialog(row)">
                <mat-icon
                  matTooltip="Delete"
                  [matTooltipPosition]="'above'"
                  class="cursor-pointer"
                  >delete</mat-icon
                >
              </a>
              <a
                class="action-icons edit-icon"
                [routerLink]="['../permission/api_user_role/list', row.id]"
                >Permissions Status</a
              >
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No Registrant found</td>
          </tr>
        </table>
      </div>
      <div *ngIf="!showlist && !loading" style="text-align: center; color: #475569">
        No User
      </div>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
