<div class="form-container">
    <div class="close-icon-container d-flex justify-content-between align-items-center border-bottom mb-2 pb-2">
        <h2 class="text-capitalize device-details-heading">Device Details
        </h2>
        <mat-icon aria-hidden="false" (click)="dialogRef.close(false)" class="close-icon"> close </mat-icon>
    </div>
   
    <!-- <h2 mat-dialog-title>Angular material dialog prompt</h2> -->
  
    <!-- <hr> -->
    <mat-dialog-content>
        <div *ngIf="loading; else content">

            <div class="spinner__loading">
              <div>
                <mat-progress-spinner
                  diameter="60"
                  [value]="value"
                  mode="determinate">
                  </mat-progress-spinner>
              </div>
            </div>
          </div>
          <ng-template #content>
        <div class='content'>
            <div class='column col-4'>
                <div class='row '>
                    <p><b> Device Name</b>:&nbsp; <br>
                       {{device_details.developerExternalId}}
                    </p>
                </div>
            </div>
            <div class='column col-4'>
                <div class='row '>
                    <p><b> Project Name</b>:&nbsp;<br>
                       {{device_details.projectName}}
                    </p>
                </div>
            </div>
            <div class='column col-4'>
                <div class='row'>
                    <p><b>Capacity
                        </b>:&nbsp;<br>{{device_details.capacity}}
                </div>
            </div>
        </div>
        <div class='content '>

            <div class='column col-4'>
                <div class='row '>
                    <p><b> Country</b>:&nbsp;<br>
                      {{device_details.countryname}}
                    </p>
                </div>
            </div>
            <div class='column col-4'>
                <div class='row'>
                    <p><b> Commissioning
                            Date</b>:&nbsp;<br>{{device_details.commissioningDate| date:'dd MMM y hh:mm'}}</p>
                </div>
            </div>
            <div class='column col-4'>
                <div class='row'>
                    <p><b>OnBoarding Date</b>:&nbsp;<br>{{device_details.createdAt| date:'dd MMM y hh:mm'}}

                </div>
            </div>
        </div>
        <div class='content'>
            <div class='column col-4'>
                <div class='row'>
                    <p><b> Off Takers</b>:&nbsp;<br>{{device_details.offTaker}}
                    </p>
                </div>
            </div>
            <div class='column col-4'>
                <div class='row'>
                    <p><b>Fuel Code</b>:&nbsp;<br>{{device_details.fuelname}}
                    </p>
                </div>
            </div>
            <div class='column col-4'>
                <div class='row'>
                    <p><b>Device Type Code</b>:&nbsp;<br>{{device_details.devicetypename}}</p>
                </div>

            </div>
            
        </div>
        <div class='content'>
            <div class='column col-4'>
                <div class='row'>
                    <p><b>SDGBenefits</b>:&nbsp;<br>{{device_details.SDGBenefits}}</p>

                </div>
            </div>
            
            <div class='column col-4'>
                <div class='row'>
                    <p><b> Energy Storage</b>:&nbsp;<br>{{device_details.energyStorage}}</p>
                </div>

            </div>
            <div class='column col-4'>
                <div class='row'>
                    <p><b>Energy StorageCapacity</b>:&nbsp; <br>{{device_details.energyStorageCapacity}}</p>

                </div>
            </div>
        </div>
        <div class='content'>

            <div class='column col-4'>
                <div class='row'>
                    <p><b>Address</b>:&nbsp;<br>{{device_details.address}}
                    </p>
                </div>
            </div>
            <div class='column col-4'>
                <div class='row'>
                    <p><b>Latitude</b>:&nbsp;<br>{{device_details.latitude}}</p>
                </div>
            </div>
            <div class='column col-4'>
                <div class='row'>
                    <p><b>Longitude</b>:&nbsp;<br>{{device_details.longitude}}</p>
                </div>
            </div>
        </div>
        <div class='content'>
            <div class='column col-4'>
                <div class='row'>
                    <p><b>Timezone</b>:&nbsp;<br>{{device_details.timezone}}
                    </p>
                </div>
            </div>
            <div class='column col-4'>
                <div class='row'>
                    <p><b>Version</b>:&nbsp;<br>{{device_details.version}}</p>
                </div>
            </div>
            <div class='column col-4'>
                <div class='row'>
                    <p><b>Yield Value</b>:&nbsp;<br>{{device_details.yieldValue}}</p>
                </div>
            </div>
        </div>
        <div class='content'>
            <div class='col-4'>
                <div class='row'>
                    <p><b>
                        meterReadtype</b>:&nbsp;<br>{{device_details.meterReadtype}}
                    </p>
                </div>
            </div>
            <div class='column col-4'>
                <div class='row'>
                    <p><b> Device
                            Description</b>:&nbsp;<br>{{device_details.deviceDescription}}
                </div>
            </div>
            <!-- <div class='column col-4'>
                <div class='row'>
                    <p><b>yieldValue</b>:&nbsp;</p>

                </div>
            </div> -->
        </div>
          </ng-template>

    </mat-dialog-content>
    <!-- <mat-dialog-actions>
      <button mat-raised-button (click)="dialogRef.close(false)" color="primary">
        Close
      </button>
      <button mat-raised-button color="primary" (click)="submit(form.value)">
        Submit
      </button>
    </mat-dialog-actions> -->
</div>