<div class="bg-solar"></div>
<div
  class="login-wrapper d-flex align-self-center align-items-center flex-column h-100vh justify-content-center drec-login"
>
  <mat-card class="box">
    <mat-card-header>
      <!-- logo -->
      <div class="py-4">
        <img src="assets/images/d-rec-beta-logo.svg" alt="" />
      </div>
      <h2 class="pb-0 mb-0 fw-bold">Email-Confirmation</h2>
    </mat-card-header>

    <mat-card-content>
      <div *ngIf="fromregister && success">

        <p >
          Thankyou for registration in D-REC, Please check email and confirm Your
          email address
        </p>

          <button 
           (click)="resendConfirmationEmail()" class="btn-primary btn btn-block">
            Resend confirmation email
          </button>
      </div>
       <div *ngIf="!fromregister && success">

         <p >
           Welcome to in D-REC, Your {{ message }}
         </p>
         <button routerLink="/login" class="btn-primary btn btn-block">
           Login
         </button>
       </div>
      <p *ngIf="!success">Your {{ message }} ,your token has expired</p>
    </mat-card-content>
    <div class="p-3">
    </div>

  </mat-card>
</div>
