.body-bg {
  padding: 16px 20px;
  background: #f8f9fb;

  .mat-mdc-card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) !important;
    border: none !important;
    position: relative;
  }
  .mat-form-filte {
    padding: 0px 10px;
    position: absolute;
    top: 6px;
    right: 10px;
    width: fit-content;
    // margin-top: -50px !important;
    .filetr-desc {
    }
  }
  .mat-body-cont {
    padding: 0px 16px 23px !important;
  }
  .but-cont {
    padding: 0px 16px !important;
  }
  // .mat-mdc-form-field-focus-overlay{
  //     background-color: white !important;

  // }
}
mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
