<div class="bg-solar"></div>
<div
    class="login-wrapper d-flex align-self-center align-items-center flex-column h-100vh justify-content-center drec-login">
    <mat-card class="box">
        <mat-card-header>
            <!-- logo -->
            <div class="py-4">
                <img src="assets/images/d-rec-logo.png" alt="" />
            </div>
            <h2 class="pb-0 mb-0 fw-bold">Forgot Password
            </h2>
        </mat-card-header>

        <br>
        <mat-card-content>
            <p *ngIf="showform">Enter your registered email to reset your password.</p>
           
            <form class="example-form px-3" [formGroup]="ForgetpasswordForm" (ngSubmit)="onSubmit()" *ngIf="showform">
                <mat-form-field class="example-full-width">
                    <mat-label class="mat-labels-cont">Email</mat-label>
                    <input autofocus matInput formControlName="email" required>
                </mat-form-field>
              
                
                <div class="p-3">
                    <button type="submit" [disabled]="ForgetpasswordForm.invalid" class="btn-primary btn   btn-block">Reset New Password</button>
                </div>
            </form>

            <p *ngIf="!showform">{{message}}</p>
        <br>
        </mat-card-content>

        <div class="d-flex justify-content-between pb-4 mb-2 px-3">

            <p class="mb-0 pb-0 font-siz-cont"></p>
            <p class="mb-0 pb-0 font-siz-cont">Back to <a routerLink="/login" class="text-warning">Login</a></p>
        </div>

    </mat-card>
</div>