<ng-container *ngIf="url$ | async as url">
  <app-ds-floating-window
    title="Picture"
    [initX]="200" [initY]="100"
    [initWidth]="600" [initHeight]="480"
    [zIndex]="zIndex"
    (bringToFront)="bringToFront.emit()"
    (close)="close()"
  >
    <div class="picw">
      <div class="picw__toolbar">
        <button class="picw__ocr-btn" (click)="runOcr()" [disabled]="ocrRunning">
          {{ ocrRunning ? 'Reading... ' + ocrProgress + '%' : 'OCR' }}
        </button>
      </div>
      <div class="picw__image-area" [class.picw__image-area--with-text]="ocrText">
        <img class="picw__img" [src]="url" alt="Device picture" />
      </div>
      <div *ngIf="ocrRunning" class="picw__progress">
        <div class="picw__progress-bar" [style.width.%]="ocrProgress"></div>
      </div>
      <div *ngIf="ocrText" class="picw__ocr-result">
        <div class="picw__ocr-header">
          <strong>Extracted Text</strong>
          <button class="picw__copy-btn" (click)="copyOcrText()">Copy</button>
        </div>
        <pre class="picw__ocr-text">{{ ocrText }}</pre>
      </div>
    </div>
  </app-ds-floating-window>
</ng-container>
