<div class="body-bg">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2 class="pb-0 mb-0 fw-bold text-capitalize">organization information
                    
                </h2>

            </mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content>
            <h2 style="text-align: center;color:#f2be1a; font-size: 25px;" class="text-capitalize">
              <b>Organization details</b>
            </h2>
  
            <div class='content'>
              <div class='column col-4'>
                <div class='row '>
                  <p><b> Name</b>:&nbsp;
                    <!--{{item.generationStartTime+'000'| date:'EEE d MMMM y hh:ss'}} - in UTC:-->
                    {{orgdetails.name}}
                  </p>
                </div>
              </div>
              <div class='column col-4'>
                <div class='row'>
                  <p><b>Role</b>:&nbsp;<!--{{item.generationEndTime+'000'| date:'EEE d MMMM y hh:ss'}}  - in UTC:-->
                    {{orgdetails.organizationType}}</p>
  
                </div>
  
              </div>
              <div class='column col-4'>
                <div class='row'>
                  <p><b> Status</b>:&nbsp;<!--{{item.generationEndTime+'000'| date:'EEE d MMMM y hh:ss'}}  - in UTC:-->
                    {{orgdetails.status}}</p>
                </div>
              </div>
  
            </div>
          </mat-card-content>
    </mat-card>
</div>