<div class="body-bg">
  <mat-card class="mb-3">
    <mat-card-content>
      <mat-tab-group
        mat-stretch-tabs
        class="example-stretched-tabs"
        #tabGroup
      >
        <mat-tab label="User Invite" *ngIf="userstatus != 'Pending'">
          <div class="pt-3">
            <form [formGroup]="inviteForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-2">
                  <mat-form-field appearance="outline" test-id="enter-firstname">
                    <mat-label class="text-capitalize">First Name</mat-label>
                    <input
                      autofocus
                      type="text"
                      matInput
                      formControlName="firstName"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field appearance="outline" test-id="enter-lastname">
                    <mat-label class="text-capitalize">Last Name</mat-label>
                    <input
                      autofocus
                      type="text"
                      matInput
                      formControlName="lastName"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field appearance="outline" test-id="enter-email">
                    <mat-label class="text-capitalize">Email</mat-label>
                    <input
                      autofocus
                      type="email"
                      matInput
                      formControlName="email"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field appearance="outline" test-id="enter-phone-number">
                    <mat-label class="mat-labels-cont">Phone Number</mat-label>
                    <input
                      type="tel"
                      matInput
                      formControlName="phoneNumber"
                      placeholder="+91 22 1234 5678"
                      test-id="phone-number"
                      (input)="markAsTouched('phoneNumber')"
                    />
                    <mat-error class="pb-3" *ngIf="showPhoneNumberError()">
                      {{ phoneNumberErrors() }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field
                    appearance="outline"
                    class="mt-0"
                    *ngIf="loginuser.role === 'Registrant'"
                  >
                    <mat-label class="mat-labels-cont text-capitalize">Role</mat-label>
                    <mat-select formControlName="role" class="value-fs">
                      <mat-option
                        *ngFor="let org of orgtype"
                        [value]="org.value"
                      >
                        {{ org.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field
                    appearance="outline"
                    class="mt-0"
                    *ngIf="loginuser.role === 'Buyer'"
                  >
                    <mat-label class="mat-labels-cont text-capitalize">Role</mat-label>
                    <mat-select formControlName="role" class="value-fs" test-id="user-role">
                      <mat-option
                        *ngFor="let org of orgtypebuyer"
                        [value]="org.value"
                        test-id="select-user-role"
                      >
                        {{ org.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field
                    appearance="outline"
                    class="mt-0"
                    *ngIf="
                      loginuser.role === 'SiteOperator' ||
                      loginuser.role === 'SubBuyer'
                    "
                  >
                    <mat-label class="mat-labels-cont text-capitalize">Role</mat-label>
                    <mat-select formControlName="role" class="value-fs">
                      <mat-option value="User"> User </mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12 d-flex justify-content-end">
                  <button
                    type="submit"
                    class="btn-primary btn text-capitalize px-4"
                    [disabled]="inviteForm.invalid"
                    test-id="submit-user"
                  >
                    Submit</button
                  >&nbsp;&nbsp;
                </div>
              </div>
            </form>
          </div>
        </mat-tab>
        <mat-tab label="Invitation">
          <div class="pt-3">
            <div
              class="content text-center"
              *ngIf="showorginviteuser"
            >
              <table mat-table [dataSource]="dataSource1">
                <ng-container matColumnDef="sender">
                  <th mat-header-cell *matHeaderCellDef>Sender</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.sender }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef>Sent to</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.email }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef>Status</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.status }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No User found</td>
                </tr>
              </table>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
