<div class="body-bg  alldevice-component">

    <mat-card>
        <mat-card-header class="d-flex mb-3 justify-content-between mat-crd-hide align-items-center ">

            <div>
                <mat-card-title>
                    <h2 class="pb-0 mb-0 fw-bold text-capitalize ps-2">Add New User
                    </h2>
                </mat-card-title>
            </div>

        </mat-card-header>
        <hr class="mt-0 pt-0">

        <mat-card-content class="mat-body-cont text-center">
            <mat-stepper>
                <mat-step label="User Info">
                    <form [formGroup]="registerForm" class="px-3 example-form">
                        <!-- <ng-template matStepLabel></ng-template> -->
                        <ng-template matStepContent>
                            <br>
                            <div class="example-container1 row">
                                <div class="col-md-4">

                                    <mat-form-field appearance="outline" class="mt-0">
                                        <mat-label class="mat-labels-cont">First Name </mat-label>
                                        <input autofocus type="text" matInput formControlName="firstName">
                                        <mat-error class="pb-1" *ngIf="checkValidation('firstName')">
                                            {{ fieldRequired }}

                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline" class="mt-0">
                                        <mat-label class="mat-labels-cont">Last Name</mat-label>
                                        <input autofocus type="text" matInput formControlName="lastName">
                                        <mat-error class="pb-1" *ngIf="checkValidation('lastName')">
                                            {{ fieldRequired }}

                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline" class="mt-0">
                                        <mat-label class="mat-labels-cont">Email </mat-label>
                                        <input autofocus type="email" matInput formControlName="email">
                                        <mat-error class="pb-3" *ngIf="checkValidation('email')">
                                            {{ emaiErrors() }}

                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mt-2">
                                <button mat-button matStepperNext class="btn-primary btn   btn-block">Next</button>
                                <!-- <button type="submit" class="btn-primary btn   btn-block">Login</button> -->
                            </div>
                        </ng-template>


                    </form>
                </mat-step>
                <mat-step label="Organization Info">
                    <form [formGroup]="registerForm" class="px-3 example-form">
                        <!-- <ng-template matStepLabel></ng-template> -->
                        <ng-template matStepContent>
                            <br>
                            <div class="example-container1 row">

                                <div class="col-md-4">
                                    <mat-form-field appearance="outline" class="mt-0">
                                        <mat-label class="mat-labels-cont text-capitalize">organization
                                            Type*</mat-label>
                                        <mat-select formControlName="organizationType" class="value-fs">
                                            <mat-option *ngFor="let org of orgtype" [value]="org.value">
                                                {{org.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error class="pb-1" *ngIf="checkValidation('organizationType')">
                                            {{ fieldRequired }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline" class="mt-0">
                                        <mat-label class="mat-labels-cont">Organization Name</mat-label>
                                        <input autofocus type="text" matInput formControlName="orgName">
                                        <mat-error class="pb-1" *ngIf="checkValidation('orgName')">
                                            {{ fieldRequired }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline" class="mt-0">
                                        <mat-label class="mat-labels-cont">Organization Address</mat-label>
                                        <input autofocus type="text" matInput formControlName="orgAddress">
                                        <mat-error class="pb-3" *ngIf="checkValidation('orgAddress')">
                                            {{ fieldRequired }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="d-flex mt-2">
                                <button mat-button matStepperPrevious
                                    class="btn-primary btn btn-content-back me-2  btn-block">Back</button>
                                <button mat-button matStepperNext
                                    class="btn-primary btn  ms-2   btn-block">Next</button>
                            </div>
                        </ng-template>
                    </form>

                </mat-step>
                <mat-step label="Security Info">
                    <form [formGroup]="registerForm" class="px-3 example-form">
                        <ng-template matStepContent>
                            <br>
                            <div class="example-container1 row">

                                <div class="col-md-6">
                                    <mat-form-field appearance="outline" class="mt-0 mb-4">
                                        <mat-label class="mat-labels-cont">Password*</mat-label>
                                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                        <button mat-icon-button matSuffix (click)="hide = !hide"
                                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                                            class="icon-eye">
                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                        <mat-hint class="password-desc text-wrap">Choose a password of at max 6
                                            characters
                                            (upper and/or lower case) and one
                                            number</mat-hint>
                                        <mat-error class="pb-5 " *ngIf="checkValidation('password')">
                                            {{ getErrorPassword() }}
                                        </mat-error>
                                        <br>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline" class="mb-4">
                                        <mat-label class="mat-labels-cont">Confirm Password *</mat-label>
                                        <input [type]="hide1 ? 'password' : 'text'" matInput
                                            formControlName="confirmPassword">
                                        <button mat-icon-button matSuffix (click)="hide1 = !hide1"
                                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1"
                                            class="icon-eye">
                                            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                        <mat-hint class="password-desc text-wrap">Choose a password of at max 6
                                            characters
                                            (upper and/or lower case) and one
                                            number</mat-hint>
                                        <mat-error class="" *ngIf="checkValidation('confirmPassword')">
                                            {{ getErrorcheckconfirmPassword() }}
                                        </mat-error>

                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="d-flex mt-2">
                                <button mat-button matStepperPrevious
                                    class="btn-primary btn btn-content-back me-2  btn-block">Back</button>
                                <button mat-raised-button matStepperNext class="btn-primary btn ms-2 btn-block"
                                    [disabled]="registerForm.invalid" (click)="onSubmit(registerForm)">Submit</button>
                            </div>
                        </ng-template>
                    </form>
                </mat-step>
                <!-- <mat-step label="Secret Key">
                <form [formGroup]="registerForm" class="px-3 example-form">
                    <ng-template matStepLabel></ng-template>
                    <mat-form-field class="mb-5 mt-0 pt-0">
                        <mat-icon matPrefix>person_outline</mat-icon>
                        <input autofocus type="text" matInput placeholder="Secret Key *"
                            formControlName="secretKey">
                        <mat-hint class="secret-desc">Secret key should be of 6 characters length and combination should include only
                            A-Z upper case and 0-9 numbers.</mat-hint>
                        <mat-error class="" *ngIf="checkValidation('secretKey')">
                            {{ getErrorsecretKey() }}
                        </mat-error>
                        <br>
                    </mat-form-field>
                    <div class="d-flex">
                        <button mat-button matStepperPrevious class="btn-primary btn btn-content-back me-2 btn-block">Back</button>

                        <button mat-raised-button matStepperNext class="btn-primary btn ms-2 btn-block"
                           [disabled]="registerForm.invalid" (click)="onSubmit(registerForm)">Submit</button>

                    </div>

                    
                    <button [disabled]="registerForm.invalid" class="btn-primary btn btn-block">Submit</button>
                </form>
            </mat-step> -->

                <!-- Icon overrides. -->
                <!-- <ng-template matStepperIcon="phone">
                <mat-icon>done</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="chat">
                <mat-icon>done</mat-icon>
            </ng-template> -->
            </mat-stepper>

        </mat-card-content>
        <mat-card-footer></mat-card-footer>
    </mat-card>
</div>