<div class="body-bg alldevice-component">
  <mat-card>
    <mat-card-header
      class="d-flex mb-3 justify-content-between mat-crd-hide align-items-center"
    >
      <div>
        <mat-card-title>
          <h2 class="pb-0 mb-0 fw-bold text-capitalize ps-2">Add Reviewer</h2>
        </mat-card-title>
      </div>
    </mat-card-header>
    <hr class="mt-0 pt-0" />

    <mat-card-content class="mat-body-cont text-center">
      <form [formGroup]="registerForm" class="px-3 example-form">
        <br />
        <div class="example-container1 row">
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="mt-0">
              <mat-label class="mat-labels-cont">First Name </mat-label>
              <input
                autofocus
                type="text"
                matInput
                formControlName="firstName"
                test-id="first-name"
              />
              <mat-hint class="password-desc text-wrap"
                >Legal representative's first name.</mat-hint
              >
              <mat-error class="pb-1" *ngIf="checkValidation('firstName')">
                {{ fieldRequired }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="mt-0">
              <mat-label class="mat-labels-cont">Last Name</mat-label>
              <input
                autofocus
                type="text"
                matInput
                formControlName="lastName"
                test-id="last-name"
              />
              <mat-hint class="password-desc text-wrap"
                >Legal representative's last name.</mat-hint
              >
              <mat-error class="pb-1" *ngIf="checkValidation('lastName')">
                {{ fieldRequired }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="mt-0">
              <mat-label class="mat-labels-cont">Email </mat-label>
              <input
                autofocus
                type="email"
                matInput
                formControlName="email"
                test-id="email"
              />
              <mat-error class="pb-3" *ngIf="checkValidation('email')">
                {{ emaiErrors() }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="mt-2">
              <mat-label class="mat-labels-cont text-capitalize"
                >Role</mat-label
              >
              <mat-select formControlName="role">
                <mat-option value="Reviewer">Reviewer</mat-option>
                <mat-option value="SeniorReviewer">Senior Reviewer</mat-option>
              </mat-select>
              <mat-error class="pb-1" *ngIf="checkValidation('role')">
                {{ fieldRequired }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex justify-content-end align-items-center mt-2">
          <mat-checkbox
            formControlName="emailNotification"
            color="primary"
            class="me-3"
            >Email notification</mat-checkbox
          >
          <button
            mat-raised-button
            class="btn-dark btn btn-block me-2"
            routerLink="/admin/All_Users"
          >
            Cancel
          </button>
          <button
            mat-raised-button
            class="btn-primary btn btn-block"
            [disabled]="registerForm.invalid"
            (click)="onSubmit()"
            test-id="submit-organization"
          >
            Submit
          </button>
        </div>
      </form>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
