mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.mat-elevation-z8 {
  width: 100%;
  overflow: auto;
  mat-paginator {
    display: initial !important;
  }
  .p-10 {
    padding: 10px;
  }
}
:host ::ng-deep .btn-primary {
  background-color: #475569 !important;
  border-color: #475569 !important;

  &:hover, &:active, &:focus {
    background-color: #334155 !important;
    border-color: #334155 !important;
  }
}

.example-container1 {
  .h6-margin-remove {
    h6 {
      // margin: 0px !important;
      font-size: 14px;
      padding-left: 3px;
    }
  }
}
