<div class="body-bg">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2 class="pb-0 mb-3 fw-bold text-capitalize">
          Evident Integration
        </h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3 g-3">
          <div class="col-md-6 d-flex flex-column">
            <label class="form-label text-capitalize">Evident API Key</label>
            <input type="text" formControlName="apiKey" placeholder="Enter API key" />
              <mat-error *ngIf="checkValidation('apiKey')">API Key is required</mat-error>
 
          </div>
          <div class="col-md-6 d-flex flex-column">
            <label class="form-label text-capitalize">Default Trading Account</label>
            <input type="text" formControlName="defaultTradingAccount" placeholder="Enter Trading Account ID" />
              <mat-error *ngIf="checkValidation('defaultTradingAccount')">Trading Account is required</mat-error>
  
          </div>
        </div>
      
        <div class="row mb-3 g-3">
          <div class="col-md-6 d-flex flex-column">
            <label class="form-label text-capitalize">Default Beneficiary Account</label>
            <input type="text" formControlName="defaultBeneficiaryAccount" placeholder="Enter Beneficiary Account ID" />
              <mat-error *ngIf="checkValidation('defaultBeneficiaryAccount')">Beneficiary Account is required</mat-error>
          </div>
        </div>
      
        <mat-card-footer>
          <div class="col-12 d-flex justify-content-end gap-2">
            <button type="button" class="btn-content-back btn text-capitalize px-2">Cancel</button>
            <button type="submit" class="btn-primary btn text-capitalize px-2" [disabled]="settingsForm.invalid">Save settings</button>
          </div>
        </mat-card-footer>
      </form>
    </mat-card-content>
  </mat-card>
</div>