<div class="bg-solar"></div>
<div
    class="login-wrapper d-flex align-self-center align-items-center flex-column h-100vh justify-content-center drec-login">
    <mat-card class="box">
        <mat-card-header>
            <!-- logo -->
            <div class="py-4">
                <img src="assets/images/d-rec-logo.png" alt="" />
            </div>
            <h2 class="pb-0 mb-0 fw-bold">Reset Password
            </h2>
        </mat-card-header>

        <br>
        <mat-card-content>

            <form class="example-form px-3" [formGroup]="resetpasswordForm" (ngSubmit)="onSubmit()" *ngIf="role != 'ApiUser'">
                <mat-form-field class="example-full-width">
                    <mat-label class="mat-labels-cont">Email</mat-label>

                    <input matInput [value]="email" readonly>
                </mat-form-field>

                <mat-form-field appearance="fill" class="mt-0 mb-4">
                    <mat-label class="mat-labels-cont">Password </mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide" class="icon-eye">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint class="password-desc text-wrap">Choose a password of at max 6 characters (upper and/or
                        lower case) and one
                        number</mat-hint>
                    <mat-error class="pb-5 " *ngIf="checkValidation('password')">
                        {{ getErrorPassword() }}
                    </mat-error>
                    <br>
                </mat-form-field>
                <mat-form-field class="mb-4">
                    <mat-label class="mat-labels-cont">Confirm Password</mat-label>
                    <input [type]="hide1 ? 'password' : 'text'" matInput formControlName="confirmPassword">
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide1" class="icon-eye">
                        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint class="password-desc text-wrap">Choose a password of at max 6 characters (upper and/or
                        lower case) and one
                        number</mat-hint>
                    <mat-error class="" *ngIf="checkValidation('confirmPassword')">
                        {{ getErrorcheckconfirmPassword() }}
                    </mat-error>
                </mat-form-field>
                <div class="p-3">
                    <button type="submit" class="btn-primary btn   btn-block"
                        [disabled]="resetpasswordForm.invalid">Reset</button>
                </div>
            </form>
            <mat-stepper *ngIf="role === 'ApiUser'" class="example-form px-3">
                <mat-step label="Client Info">
                    <form [formGroup]="resetpasswordForm">
                        <!-- <ng-template matStepLabel></ng-template> -->
                        <ng-template matStepContent>
                            <mat-form-field class="example-full-width">
                                <mat-label class="mat-labels-cont">Email</mat-label>

                                <input matInput [value]="email" readonly>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label class="mat-labels-cont">Client Id </mat-label>
                                <input autofocus matInput type="text" formControlName="clientid" required>

                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <mat-label class="mat-labels-cont">Client Secret</mat-label>
                                <input autofocus matInput type="text" formControlName="client_secret" required>

                            </mat-form-field>

                            <div class="d-flex justify-content-end mt-2">
                                <button mat-button matStepperNext class="btn-primary btn   btn-block">Next</button>
                                <!-- <button type="submit" class="btn-primary btn   btn-block">Login</button> -->
                            </div>
                        </ng-template>


                    </form>
                </mat-step>
                <mat-step label="User Info">
                    <form [formGroup]="resetpasswordForm">
                        <!-- <ng-template matStepLabel></ng-template> -->
                        <ng-template matStepContent>

                            <mat-form-field appearance="fill" class="mt-0 mb-4">
                                <mat-label class="mat-labels-cont">Password </mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="icon-eye">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-hint class="password-desc text-wrap">Choose a password of at max 6 characters
                                    (upper and/or
                                    lower case) and one
                                    number</mat-hint>
                                <mat-error class="pb-5 " *ngIf="checkValidation('password')">
                                    {{ getErrorPassword() }}
                                </mat-error>
                                <br>
                            </mat-form-field>
                            <mat-form-field class="mb-4">
                                <mat-label class="mat-labels-cont">Confirm Password</mat-label>
                                <input [type]="hide1 ? 'password' : 'text'" matInput formControlName="confirmPassword">
                                <button mat-icon-button matSuffix (click)="hide1 = !hide1"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1" class="icon-eye">
                                    <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-hint class="password-desc text-wrap">Choose a password of at max 6 characters
                                    (upper and/or
                                    lower case) and one
                                    number</mat-hint>
                                <mat-error class="" *ngIf="checkValidation('confirmPassword')">
                                    {{ getErrorcheckconfirmPassword() }}
                                </mat-error>
                            </mat-form-field>

                            <div class="d-flex mt-2">
                                <button mat-button matStepperPrevious
                                    class="btn-primary btn btn-content-back me-2  btn-block">Back</button>
                                <button mat-button matStepperNext class="btn-primary btn  ms-2   btn-block"
                                    [disabled]="resetpasswordForm.invalid" (click)="onSubmit()">Reset</button>
                            </div>
                        </ng-template>
                    </form>

                </mat-step>

            </mat-stepper>
            <p *ngif="">Password Reset Mail has been sent to your authorized Email.</p>
        </mat-card-content>

        <div class="d-flex justify-content-between pb-4 mb-2 px-3">

            <p class="mb-0 pb-0 font-siz-cont">Back to</p>
            <p class="mb-0 pb-0 font-siz-cont"><a routerLink="/login" class="text-warning">Login</a></p>
        </div>

    </mat-card>
</div>