<div class="body-bg  alldevice-component">

    <mat-card>
      <mat-card-header class="d-flex mb-3 justify-content-between mat-crd-hide align-items-center ">
  
        <div>
          <mat-card-title>
            <h2 class="pb-0 mb-0 fw-bold text-capitalize ps-2">All Organizations
            </h2>
          </mat-card-title>
        </div>
        <!-- <div>
          <button class="btn btn-dark justify-content-end px-4  d-flex align-items-center" routerLink="/device/add" *ngIf="loginuser.role !='Admin'">
            <mat-icon class="align-middle me-2">add_circle</mat-icon>New Devices</button>
  
        </div> -->
      </mat-card-header>
      <hr class="mt-0 pt-0">
  
      <mat-card-content class="mat-body-cont text-center">
        <mat-card >
          <form [formGroup]="FilterForm">
            <mat-card-content>
              <h3 style="text-align: center;color:#f2be1a; font-size: 16px;" class="text-capitalize">Filter Organization list By
                Select Organization</h3>
              <div class="example-container1 row">
  
                <div class="col-md-3">
                  <mat-form-field appearance="outline">
                    <mat-label class="text-capitalize">Select Organization</mat-label>
                    <input type="text" aria-label="text" matInput formControlName="organizationName" [matAutocomplete]="auto"
                     >
                    <mat-autocomplete #auto="matAutocomplete" >
                      <!-- <mat-option [value]="">---</mat-option> -->
                      <mat-option *ngFor="let code of filteredOptions | async" [value]="code.name">
                        {{ code.name }}
                      </mat-option>
                    </mat-autocomplete>

                  </mat-form-field>
                  <mat-error *ngIf="showerror" style="margin-top: -15px;"> Invalid organization name</mat-error>
                </div>
                
                <div class="col-md-12 mb-3  d-flex ">
                  <div class="">
                    <button class="btn-primary me-2 btn text-capitalize px-4" (click)="getAllOrganization(1)">Filter</button>
                  </div>
                  <div class="">
                    <button class="btn-dark btn text-capitalize px-4" (click)="reset()">Reset</button>
                  </div>
  
  
                </div>
              </div>
            </mat-card-content>
          </form>
        </mat-card>
        <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading"></mat-progress-spinner>
        <div class="content mat-elevation-z8 text-center" *ngIf="showlist">
          <table mat-table [dataSource]="dataSource" class="" matSort>
           
            <!-- Position Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef  class="text-left">Organization </th>
              <td mat-cell *matCellDef="let row;let i=index"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="status" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-left"> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
           
            <!-- <ng-container matColumnDef="orgemail">
              <th mat-header-cell *matHeaderCellDef  class="text-left"> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.orgEmail}} </td>
            </ng-container> -->
  
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-left"> Type</th>
              <td mat-cell *matCellDef="let element"> {{element.organizationType}} </td>
            </ng-container>
            <!-- Status Column -->
           <ng-container matColumnDef="no of users">
              <th mat-header-cell *matHeaderCellDef  class="text-left">No. Of Users </th>
              <td mat-cell *matCellDef="let element"> {{element.users.length}} </td>
            </ng-container>
            <!--  <ng-container matColumnDef="capacity">
              <th mat-header-cell *matHeaderCellDef  class="text-left"> Capacity(kW) </th>
              <td mat-cell *matCellDef="let element"> {{element.capacity}} </td>
            </ng-container>
            <ng-container matColumnDef="SDGBenefits">
              <th mat-header-cell *matHeaderCellDef > SDGBenefits </th>
              <td mat-cell *matCellDef="let row"> {{row.SDGBenefits}} </td> -->
          <!-- </ng-container> -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="text-left">Action</th>
              <td mat-cell *matCellDef="let element">
                <a class="action-icons edit-icon" [routerLink]="['../AllOrganization_users/',element.id]" >All Users</a> 
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No Organization found </td>
          </tr>
          </table>
          <!-- <mat-paginator #paginator [length]="totalRows" [pageSize]="pageSize" (page)="pageChangeEvent($event)"
            aria-label="Select page">
          </mat-paginator> -->
          <!-- <hr> -->
          <div class="d-flex justify-content-start align-items-center  p-10 ">
            <button class="btn-primary me-2 btn text-capitalize px-4" (click)="previousPage()" [disabled]="p === 1">Previous</button>&nbsp;&nbsp;
              
            Total Pages:{{totalPages}}&nbsp;&nbsp;
              <button class="btn-primary me-2 btn text-capitalize px-4" (click)="nextPage()" [disabled]="p === totalPages">Next</button>
              <p style="width: 150px;
              height: 25px;
              margin-left: 420px;
              padding: 10px 5px 0px 0px"><b>Page Number:&nbsp;</b>{{p}}</p>
         
            </div>
          
        </div>
       <div *ngIf="!showlist"style="text-align: center;color: #f2be1a;">No Organizations </div>
  
     
      </mat-card-content>
      <mat-card-footer></mat-card-footer>
    </mat-card>
  </div>
  
