.body-bg {
  padding: 16px 20px;
  background: #f8f9fb;
  .nested-card {
    padding: 0px !important;
    .nested-card-header {
      padding: 16px 10px 16px !important;
      background: #e6e6e6 !important;
    }
  }
  .example-container1 {
    .h6-margin-remove {
      h6 {
        // margin: 0px !important;
        font-size: 14px;
        padding-left: 3px;
      }
    }
    .thead-width {
      table {
        width: 1256px !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        mat-header-cell {
          height: 56px;
        }
      }
    }
    .mat-elevation-z8 {
      // overflow-x: scroll;
      // width: fit-content;
      overflow: scroll;
      min-width: 100% !important;
      .p-10 {
        padding: 10px;
      }
    }
  }
}

// ::-webkit-scrollbar{
//     display: none !important;
// }
// ::-webkit-scrollbar-thumb{
//     background-color: #475569 !important;
// }

// mat dialog //
.mat-dialog-title {
  position: sticky;
  top: 0;
  background: #fff !important;
}
.continue-button {
  position: sticky;
  bottom: 0;
  padding-top: 18px;
  background: white;
  display: flex;
  justify-content: end;
}

// mat progress spinner
mat-progress-spinner {
  position: absolute;
  // top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.mat-mdc-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) !important;
  border: none !important;
}

.capacity-indicator {
  font-size: 13px;
  font-weight: 600;
  color: #475569;

  &.over-cap {
    color: #dc2626;
  }
}
