<div
  class="verification-wrapper d-flex align-items-center justify-content-center"
  style="height: 100vh"
>
  <mat-card
    *ngIf="success"
    class="verification-card text-center"
    style="padding: 40px 30px"
  >
    <div class="icon-container mb-4">
      <mat-icon class="success-icon">check_circle_outline</mat-icon>
    </div>
    <h2 class="mb-3" style="font-weight: 500">Email Verified</h2>
    <p>Your email address was successfully verified.</p>
  </mat-card>
  <mat-card
    *ngIf="!success"
    class="verification-card text-center"
    style="padding: 40px 30px"
  >
    <div class="icon-container mb-4">
      <mat-icon color="warn">highlight_off</mat-icon>
    </div>
    <h2 class="mb-3" style="font-weight: 500">Email Not Verified</h2>
    <p>Your email address was not verified.</p>
  </mat-card>
</div>
