<div class="body-bg">
  <mat-card>
    <mat-card-header class="d-flex justify-content-between mat-crd-hide align-items-center overlay">
      <div>
        <h2 class="pb-0 mb-0 fw-bold text-capitalize">Device Registration</h2>
      </div>
      <div>
        <button class="btn btn-dark justify-content-end d-flex align-items-center px-4" (click)="adddevice()"
          test-id="add-more-devices">
          <mat-icon class="align-middle me-2">add_circle</mat-icon> Add More
          Device
        </button>
      </div>
    </mat-card-header>
    <hr class="mb-0 pb-0" />
    <form [formGroup]="myform" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div class="col-md-3" *ngIf="user.role === 'Admin' || user.role === 'ApiUser'">
          <mat-form-field appearance="outline">
            <mat-label class="text-capitalize" test-id="organization">Organization</mat-label>

            <input matInput [(ngModel)]="organizationName" [ngModelOptions]="{ standalone: true }"
              [matAutocomplete]="orgAuto" (input)="filterOrgList()" />

            <mat-autocomplete #orgAuto="matAutocomplete" (optionSelected)="selectOrg($event)">
              <mat-option *ngFor="let code of filteredOrganizationList" [value]="code.name">
                {{ code.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div formArrayName="devices">
          <div *ngFor="let phone of deviceForms.controls; let i = index" [formGroupName]="i">
            <mat-card>
              <mat-card-header class="d-flex justify-content-between mat-crd-hide align-items-center">
                <div>
                  <h3 class="pb-0 mb-0 fw-bold text-capitalize">
                    Device &nbsp;{{ 1 + i }}
                  </h3>
                </div>
                <div>
                  <button class="btn btn-danger danger-btn justify-content-end btn-sm" (click)="deleteDevice(i)"
                    *ngIf="deviceForms.controls.length > 1">
                    <mat-icon class="align-middle">delete</mat-icon>
                  </button>
                </div>
              </mat-card-header>

              <hr />
              <mat-card-content>
                <div class="row">
                  <div class="row">
                    <h3>General</h3>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label class="text-capitalize" test-id="project-name">project Name</mat-label>
                      <input matInput autocomplete="off" formControlName="projectName" />
                      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                      <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Data Source</mat-label>
                      <mat-select formControlName="dataSource">
                        <mat-option [value]="DataSourceTypes.Inverter">Inverter</mat-option>
                        <mat-option [value]="DataSourceTypes.DataLogger">Data Logger</mat-option>
                        <mat-option [value]="DataSourceTypes.Other">Other</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3" *ngIf="deviceForms.at(i).get('dataSource')?.value === DataSourceTypes.Other">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Other Data Source</mat-label>
                      <input matInput placeholder="Specify Other Data Source" formControlName="otherDataSource" />
                    </mat-form-field>
                    
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline" class="w-100" >
                      <mat-label>{{ getSerialNumberLabel(i) }}</mat-label>
                      <input matInput formControlName="serialNumber" />
                        <mat-error >
                          Serial number must contain only letters, numbers, underscores, or hyphens.
                        </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{ dataSourceBrandLabel(i) }}</mat-label>
                      <input matInput formControlName="dataSourceBrand" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="row">
                    <h3>Technical Details</h3>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label class="text-capitalize" test-id="fuel-code">Fuel Code</mat-label>

                      <mat-select formControlName="fuelCode">
                        <mat-option *ngFor="let code of fuellist" [value]="code.code" test-id="fuel-option">
                          {{ code.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label class="text-capitalize" test-id="device-type">Device Type Code</mat-label>

                      <mat-select formControlName="deviceTypeCode">
                        <mat-option *ngFor="let code of devicetypelist" [value]="code.code" test-id="type-code-option">
                          {{ code.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label test-id="capacity">Capacity(kW)</mat-label>
                      <input matInput type="number" formControlName="capacity" [min]="1" autocomplete="off" />
                      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                      <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label class="text-capitalize">Commissioning Date</mat-label>
                      <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
                        formControlName="commissioningDate" [max]="maxDate" test-id="commissioning-date" />
                      <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                      <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false" [stepHour]="1"
                        [stepMinute]="1" [stepSecond]="1" [touchUi]="false" [enableMeridian]="false"
                        [disableMinute]="false" [hideTime]="false">
                      </ngx-mat-datetime-picker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="row">
                    <h3>Location</h3>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label class="text-capitalize" test-id="address">Address</mat-label>
                      <input autocomplete="off" matInput formControlName="address" />
                      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                      <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label class="text-capitalize">State/Province/County</mat-label>
                      <input matInput formControlName="stateProvince" autocomplete="off" />
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label class="text-capitalize">Postcode (Zip Code)</mat-label>
                      <input matInput type="string" formControlName="postcode" test-id="postcode" />
                      <mat-error>Please enter the valid postcode</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label class="text-capitalize" test-id="select-country">Select country
                      </mat-label>
                      <input type="text" matInput formControlName="countryCodename" [matAutocomplete]="auto" />
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let code of filteredCountryList[i] | async" [value]="code.country"
                          test-id="country-options">
                          {{ code.country }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                    <mat-error *ngIf="showerror[i]" style="margin-top: -15px" test-id="invalid-country">
                      Invalid Country Selected
                    </mat-error>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field appearance="outline">
                      <mat-label class="text-capitalize" test-id="latitude">Latitude</mat-label>
                      <input matInput formControlName="latitude" />
                      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                      <mat-error>please enter the valid value</mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-6">
                    <mat-form-field appearance="outline">
                      <mat-label class="text-capitalize" test-id="longitude">Longitude</mat-label>
                      <input matInput formControlName="longitude" />
                      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                      <mat-error>please enter the valid value</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="row pb-4">
                    <app-map [zoom]="6"></app-map>
                  </div>
                </div>

                <div class="row">
                  <div class="row">
                    <h3>Other Details</h3>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label class="text-capitalize" test-id="SDGBenefits">SDG Benefits</mat-label>

                      <mat-select formControlName="SDGBenefits" multiple>
                        <mat-option *ngFor="let sdgb of sdgblist" [value]="sdgb.name" test-id="SDGBenefits-option">{{
                          sdgb.value }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <!-- <mat-form-field appearance="outline">
                                      <mat-label>Version</mat-label>
                                      <input matInput placeholder="version" formControlName='version'>
                                  </mat-form-field> -->

                  <div class="col-md-3">
                    <button
                      class="btn py-2 pb-3 fw-bold btn-outline-danger d-block w-100 text-capitalize align-middle cursor-pointer"
                      (click)="addmore(i)" *ngIf="showaddmore[i]" test-id="add-more">
                      Add more details
                      <mat-icon class="pt-2 scroll-down">keyboard_arrow_down</mat-icon>
                    </button>

                    <button
                      class="btn py-2 pb-3 fw-bold btn-outline-dark d-block w-100 text-capitalize align-middle cursor-pointer"
                      (click)="nomore(i)" *ngIf="shownomore[i]">
                      hide details
                      <mat-icon class="pt-2 scroll-down">keyboard_arrow_up</mat-icon>
                    </button>
                  </div>
                </div>
                <div class="row" *ngIf="addmoredetals[i]">
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label class="text-capitalize">off Taker</mat-label>

                      <mat-select formControlName="offTaker" test-id="off-taker">
                        <mat-option *ngFor="let code of offtaker" [value]="code">
                          {{ code }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label class="text-capitalize">Device Description</mat-label>

                      <mat-select formControlName="deviceDescription" test-id="device-description">
                        <mat-option *ngFor="let code of devicedescription" [value]="code">
                          {{ code }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label class="text-capitalize">impact Story</mat-label>
                      <input matInput formControlName="impactStory" test-id="impact-story" autocomplete="off" />
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label class="text-capitalize">Quality Labels</mat-label>
                      <input matInput formControlName="qualityLabels" test-id="quality" />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row" *ngIf="addmoredetals[i]">
                  <div class="col-md-3 d-flex flex-column">
                    <span>Grid Inter-connection:</span>
                    <mat-radio-group formControlName="gridInterconnection" test-id="grid-interconnection">
                      <mat-radio-button [value]="true">Yes</mat-radio-button>
                      <mat-radio-button [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="col-md-3 d-flex flex-column">
                    <span>Energy Storage:</span>
                    <mat-radio-group formControlName="energyStorage"
                      (ngModelChange)="showenergycapacity_input(i, $event)" test-id="energy-storage">
                      <mat-radio-button [value]="true">Yes</mat-radio-button>
                      <mat-radio-button [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="col-md-3" *ngIf="showinput[i]">
                    <mat-form-field appearance="outline">
                      <mat-label class="text-capitalize">Energy Storage Capacity</mat-label>
                      <input matInput autocomplete="off" type="number" formControlName="energyStorageCapacity"
                        test-id="energy-storage" />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="row">
                    <h3>Supporting Documents</h3>
                  </div>

                  <div class="col-md-4 mb-3">
                    <label>Form SF-02 - Production Facility Registration</label>
                    <div class="d-flex justify-content-between align-items-center">
                      <input type="file" #pfFileInput (change)="onFileChange($event, i, DocumentType.FORM_SF_02)"
                        style="display: none;" required test-id="attach-file" />
                      <button type="button" (click)="pfFileInput.click()" class="btn btn-primary">
                        <mat-icon>attach_file</mat-icon>
                      </button>
                      <span class="file-name">
                        {{ deviceForms.at(i).get('FORM_SF_02')?.value ?
                        shortenFileName(deviceForms.at(i).get('FORM_SF_02')?.value.name) :
                        'No file chosen' }}
                      </span>
                      <span class="badge bg-primary bg-opacity-10 text-primary px-3 py-2">Required</span>
                    </div>
                  </div>

                  <div class="col-md-4 mb-3">
                    <label>SF-02C Owner's Declaration or Proof of Ownership</label>
                    <div class="d-flex justify-content-between align-items-center">
                      <input type="file" #ownershipFileInput (change)="onFileChange($event, i, DocumentType.SF_02C)"
                        style="display: none" test-id="attach-file" />
                      <button type="button" (click)="ownershipFileInput.click()" class="btn btn-primary">
                        <mat-icon>attach_file</mat-icon>
                      </button>
                      <span class="file-name">
                        {{ deviceForms.at(i).get('SF_02C')?.value ?
                        shortenFileName(deviceForms.at(i).get('SF_02C')?.value.name) : 'No file chosen' }}
                      </span>
                      <span class="badge bg-primary bg-opacity-10 text-primary px-3 py-2">Required</span>
                    </div>
                  </div>

                  <div class="col-md-4 mb-3">
                    <label>Metering Evidence</label>
                    <div class="d-flex justify-content-between align-items-center">
                      <input type="file" #meteringFileInput
                        (change)="onFileChange($event, i, DocumentType.METERING_EVIDENCE)" style="display: none"
                        test-id="attach-file" />
                      <button type="button" (click)="meteringFileInput.click()" class="btn btn-primary">
                        <mat-icon>attach_file</mat-icon>
                      </button>
                      <span class="file-name">
                        {{ deviceForms.at(i).get('METERING_EVIDENCE')?.value ?
                        shortenFileName(deviceForms.at(i).get('METERING_EVIDENCE')?.value.name) : 'No file chosen' }}
                      </span>
                      <span class="badge bg-primary bg-opacity-10 text-primary px-3 py-2">Required</span>
                    </div>
                  </div>

                  <div class="col-md-4 mb-3">
                    <label>Single Line Diagram</label>
                    <div class="d-flex justify-content-between align-items-center">
                      <input type="file" #diagramFileInput
                        (change)="onFileChange($event, i, DocumentType.SINGLE_LINE_DIAGRAM)" style="display: none"
                        test-id="attach-file" />
                      <button type="button" (click)="diagramFileInput.click()" class="btn btn-primary">
                        <mat-icon>attach_file</mat-icon>
                      </button>
                      <span class="file-name">
                        {{ deviceForms.at(i).get('SINGLE_LINE_DIAGRAM')?.value ?
                        shortenFileName(deviceForms.at(i).get('SINGLE_LINE_DIAGRAM')?.value.name) : 'No file chosen'
                        }}
                      </span>
                      <span class="badge bg-primary bg-opacity-10 text-primary px-3 py-2">Required</span>
                    </div>
                  </div>

                  <div class="col-md-4 mb-3">
                    <label>Project Photos</label>
                    <div class="d-flex justify-content-between align-items-center">
                      <input type="file" #photosFileInput
                        (change)="onFileChange($event, i, DocumentType.PROJECT_PHOTOS)" style="display: none"
                        test-id="attach-file" />
                      <button type="button" (click)="photosFileInput.click()" class="btn btn-primary">
                        <mat-icon>attach_file</mat-icon>
                      </button>
                      <span class="file-name">
                        {{ deviceForms.at(i).get('PROJECT_PHOTOS')?.value ?
                        shortenFileName(deviceForms.at(i).get('PROJECT_PHOTOS')?.value.name) : 'No file chosen' }}
                      </span>
                      <span class="badge bg-primary bg-opacity-10 text-primary px-3 py-2">Required</span>
                    </div>
                  </div>
                </div>

              </mat-card-content>
              <!-- <mat-card-footer></mat-card-footer> -->
            </mat-card>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <div class="example-container mt-3">
          <div class="col-12 d-flex justify-content-end">
            <button type="submit" class="btn-primary btn text-capitalize px-4" [disabled]="!formValid || isSubmitting"
              (click)="onSubmit()" test-id="submit-device">
              {{ submitButtonText }}
            </button>
          </div>
        </div>
      </mat-card-footer>
    </form>
  </mat-card>
</div>
<ng-template let-data #popupDialog class="Position-relative ng-template-add-reservation">
  <h2 mat-dialog-title class="mat-dialog-title">Legal Confirmation</h2>
  <div mat-dialog-content>
    <div class="alert alert-primary" role="alert">
      Info: Please read the following legal confirmation carefully.
    </div>
    <p>
      On behalf of DRE Project Developer <strong>{{organizationName}}</strong>, I agree to be subject to the I-REC Code
      and warrant that the
      information contained in this application is truthful and exhaustive.</p>
    <p>
      Any planned changes concerning the information given in this form will be announced in advance to the I-REC
      Device Verifier and the Issuer.</p>
    <p>
      Any unplanned changes will be reported to the I-REC Device Verifier and the Issuer at the first possible
      occasion.</p>
    <p>
      The owner of the Production Device and the Registrant as his agent accept the possibility of unannounced control
      and auditing visits to their own premises and/or the premises of the Production Device, as prescribed in the
      Evident I-REC(E) Code.</p>
    <p>A signed SF-02 Production Facility Registration form must be attached to this registration.</p>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-center pb-4">
    <button mat-button class="btn-primary text-capitalize" (click)="onAgreeClick()" test-id="agree">I agree</button>
    <button mat-button class="btn-default text-capitalize" (click)="dialogRef.close(false)">Cancel</button>
  </div>
</ng-template>