.theme-switcher-btn {
  color: var(--text-color);
  transition: all 0.3s ease;
  
  &:hover {
    background-color: var(--hover-color);
  }
  
  mat-icon {
    font-size: 22px;
    width: 22px;
    height: 22px;
  }
}